﻿
@model VentanillaElectronica.Models.VentanillaTramite

@{
    Layout = "~/Views/Shared/_LayoutContentAdministrativos.cshtml";
}

    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Denegado)
    {
        <div class="jumbotron alert-danger">
            <h2>Trámite de alta de experiencia educativa</h2>
            <h4>Trámite denegado</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_error.png" class="img-responsive center-block" alt="Denegado">
                </div>
                <div class="col-xs-12 col-md-9">
                    @Html.Partial("ViewDetails",  Model)
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Dashboard", "Administrativos", null, new { @class = "btn btn-danger" })


        </div>
    }


    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado)
    {
        <div class="jumbotron alert-warning">
            <h2>Trámite de alta de experiencia educativa</h2>
            <h4>Solicitado, pendiente de revisión</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_time.png" class="img-responsive center-block" alt="Registro solicitado">
                </div>
                <div class="col-xs-12 col-md-9">
                    @Html.Partial("ViewDetails", Model)
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Dashboard", "Administrativos", null, new { @class = "btn btn-warning" })




        </div>
    }


    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Aceptado)
    {
        <div class="jumbotron alert-success">
            <h2>Trámite de alta de experiencia educativa</h2>
            <h4>Solicitud aceptada</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_exito.png" class="img-responsive center-block" alt="Aceptado">
                </div>
                <div class="col-xs-12 col-md-9">
                    @Html.Partial("ViewDetails", Model)
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Dashboard", "Administrativos", null, new { @class = "btn btn-success" })




        </div>
    }


  

