﻿
@model VentanillaElectronica.Models.ModelViewCheckUltimaOportunidad
@using VentanillaElectronica.Models;
@using System.Linq;
@{ VentanillaDBContext db = new VentanillaDBContext(); }
@{
    Layout = "~/Views/Shared/_LayoutContentAdministrativos.cshtml";
}


@using (Html.BeginForm("Mark", "AdministrativosTramiteUltimaOportunidad", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))

{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.Tramite.Id)

    <div class="jumbotron alert-warning">
        <h2>Trámite de examen de Última oportunidad</h2>
        <h4>Marcar como revisado. Los trámites marcados como revisados se pasana Consejo Técnico </h4>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <img src="~/Content/images/icon_exito.png" class="img-responsive center-block" alt="Revisado">
            </div>
            <div class="col-xs-12 col-md-9">

                <div class="form-group">

                    @Html.LabelFor(a => a.Tramite.Estatus, new { @class = "col-sm-2 control-label", @for = "Estatus" })
                    <div class="col-sm-10">

                        @if (Model.Tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado)
                {
                            <span class="label label-warning">@Model.Tramite.Estatus</span><span> el @Html.DisplayFor(a => a.Tramite.FechaRegistro)</span>
                        }
                        @if (Model.Tramite.TramiteUltimaOportunidad.Estatus == VentanillaElectronica.Models.EnumTramitesUltimaOportunidadEstatus.Revisado)
                {
                            <span class="label label-info">@Model.Tramite.Estatus</span>
                        }
                        @if (@Model.Tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Aceptado)
                {
                            <span class="label label-success">@Model.Tramite.Estatus</span>

                        }@if (@Model.Tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Denegado)
                {
                            <span class="label label-danger">@Model.Tramite.Estatus</span>
                        }

                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.Alumno.UserName, new { @class = "col-sm-2 control-label", @for = "Username" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.Alumno.UserName, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.Alumno.UserName).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.Alumno.Nombre, new { @class = "col-sm-2 control-label", @for = "Nombre" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.Alumno.Nombre, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.Alumno.Nombre).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.Alumno.EmailAlterno, new { @class = "col-sm-2 control-label", @for = "EmailAlterno" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.Alumno.EmailAlterno, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.Alumno.EmailAlterno).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.RegionPrograma, new { @class = "col-sm-2 control-label", @for = "RegionProgramas" })
                    <div class="col-sm-10">



                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-bookmark"></span></span>

                            <input type="text" value="@Model.Tramite.TramiteUltimaOportunidad.RegionPrograma.Value" disabled="disabled" class="form-control" />
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.ExperienciaEducativa, new { @class = "col-sm-2 control-label", @for = "ExperienciaEducativa" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.TramiteUltimaOportunidad.ExperienciaEducativa, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.TramiteUltimaOportunidad.ExperienciaEducativa).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.Docente, new { @class = "col-sm-2 control-label", @for = "Docente" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.TramiteUltimaOportunidad.Docente, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.TramiteUltimaOportunidad.Docente).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(a => a.Tramite.TramiteUltimaOportunidad.PresentaInconveniente, new { @disabled = "disabled", @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">

                        @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.PresentaInconveniente, new { @for = "PresentaInconveniente", Style = "font-weight: normal" })<br />
                    </div>
                </div>
                <hr />

                <div class="form-group">

                    @Html.LabelFor(a => a.Administrativo, new { @class = "col-sm-2 control-label", @for = "Atendido por" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextArea("AtendidoPor", (HttpUtility.HtmlDecode(Html.DisplayFor(a => a.Administrativo.Nombre).ToHtmlString()) + Environment.NewLine + Html.DisplayFor(a => a.Administrativo.Email) + Environment.NewLine + Html.DisplayFor(a => a.Administrativo.Telefono)), 5, 120, new { @readonly = "readonly", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    @Html.LabelFor(a => a.EstatusServe, new { @class = "col-sm-2 control-label", @for = "Estatus" })
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-record"></span></span>
                            @Html.DropDownListFor(a => a.EstatusServe, EnumHelper.GetSelectList(typeof(EnumTramitesEstatusCheck)), String.Empty, new { @readonly = "readonly", @disabled = "disabled", @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(a => a.EstatusServe)
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(a => a.File, new { @class = "col-sm-2 control-label", @for = "File" })
                    <div class="col-sm-10">


                        @Html.TextBoxFor(a => a.File, new { type = "file", maxFileSize = 100, language = "es", data_show_preview = "false", data_show_upload = "false", data_allowed_file_extensions = "[\"pdf\", \"docx\",\"jpg\",\"jpeg\",\"png\"]", data_show_caption = "true", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.File).ToHtmlString()), @class = "file" })
                        <em><small>Sólo se admiten archivos en formato PDF, DOCX, JPG-JPEG, PNG.</small></em><br />
                        @Html.ValidationMessageFor(a => a.File)

                    </div>
                </div>



            </div>
        </div>
        <hr />

        @Html.ActionLink("Cancelar", "View", "AdministrativosTramiteUltimaOportunidad", new { Id = Model.Tramite.Id }, new { @class = "btn btn-default" })
        <a id="Submit" class="btn btn-success">Marcar como listo para Consejo Técnico</a>
    </div>

}



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Examen de Última Oportunidad</h4>
            </div>
            <div class="modal-body">

                <p><img src="~/Content/images/img_PasosUltimaOportunidad_v1.png" /></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>






</div>

<!-- Modal -->
<div class="modal fade" id="ModalConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Trámites</h4>
            </div>
            <div class="modal-body">
                ¿La información a almacenar es correcta?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-danger">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        // extend jquery range validator to work for required checkboxes
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            if (element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>

    <script type="text/javascript">


        $(document).ready(function () {


            $('#Submit').click(function () {

                if ($('form').valid()) {
                    $('#ModalConfirmation').modal('show');
                }

            });




            $('#btnContinueDelete').click(function () {
                $('form').submit();





            });
        });
    </script>

}
