﻿
@model VentanillaElectronica.Models.ModelViewResolucionUltimaOportunidad
@using VentanillaElectronica.Models;
@using System.Linq;
@{ VentanillaDBContext db = new VentanillaDBContext(); }
@{
    Layout = "~/Views/Shared/_LayoutContentAdministrativos.cshtml";
}


@using (Html.BeginForm("Resolucion", "AdministrativosTramiteUltimaOportunidad", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))

{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.Tramite.Id)

    <div class="jumbotron">
        <h2>Trámite de examen de Última oportunidad</h2>
        <h4>Guardar detalles de la resolución del Consejo Técnico</h4>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <img src="~/Content/images/icon_exito.png" class="img-responsive center-block" alt="Aceptado">
            </div>
            <div class="col-xs-12 col-md-9">

                <div class="form-group">

                    @Html.LabelFor(a => a.Tramite.Estatus, new { @class = "col-sm-2 control-label", @for = "Estatus" })
                    <div class="col-sm-10">

                        @if (Model.Tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado)
                {
                            <span class="label label-warning">@Model.Tramite.Estatus</span><span> el @Html.DisplayFor(a => a.Tramite.FechaRegistro)</span>
                        }
                        @if (Model.Tramite.TramiteUltimaOportunidad.Estatus == EnumTramitesUltimaOportunidadEstatus.Revisado)
                {
                           <br/> <span class="label label-default">@Model.Tramite.TramiteUltimaOportunidad.Estatus</span><span> el @Html.DisplayFor(a => a.Tramite.TramiteUltimaOportunidad.FechaRevisado)</span>
                        }
                        @if (@Model.Tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Aceptado)
                {
                            <span class="label label-success">@Model.Tramite.Estatus</span>

                        }@if (@Model.Tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Denegado)
                {
                            <span class="label label-danger">@Model.Tramite.Estatus</span>
                        }

                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.Alumno.UserName, new { @class = "col-sm-2 control-label", @for = "Username" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.Alumno.UserName, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.Alumno.UserName).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.Alumno.Nombre, new { @class = "col-sm-2 control-label", @for = "Nombre" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.Alumno.Nombre, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.Alumno.Nombre).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.Alumno.EmailAlterno, new { @class = "col-sm-2 control-label", @for = "EmailAlterno" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.Alumno.EmailAlterno, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.Alumno.EmailAlterno).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.RegionPrograma, new { @class = "col-sm-2 control-label", @for = "RegionProgramas" })
                    <div class="col-sm-10">



                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-bookmark"></span></span>

                            <input type="text" value="@Model.Tramite.TramiteUltimaOportunidad.RegionPrograma.Value" disabled="disabled" class="form-control" />
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.ExperienciaEducativa, new { @class = "col-sm-2 control-label", @for = "ExperienciaEducativa" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.TramiteUltimaOportunidad.ExperienciaEducativa, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.TramiteUltimaOportunidad.ExperienciaEducativa).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.Docente, new { @class = "col-sm-2 control-label", @for = "Docente" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.TramiteUltimaOportunidad.Docente, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.TramiteUltimaOportunidad.Docente).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(a => a.Tramite.TramiteUltimaOportunidad.PresentaInconveniente, new { @disabled = "disabled", @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">

                        @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.PresentaInconveniente, new { @for = "PresentaInconveniente", Style = "font-weight: normal" })<br />
                    </div>
                </div>

                <hr />
                <div class="form-group">

                    @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.FechaRevisado, new { @class = "col-sm-2 control-label", @for = "FechaRevisado" })
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.TramiteUltimaOportunidad.FechaRevisado, new { @readonly = "readonly", Value = Html.DisplayFor(a => a.Tramite.TramiteUltimaOportunidad.FechaRevisado), @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="form-group">

                    @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.AdministrativoRevision, new { @class = "col-sm-2 control-label", @for = "Atendidopor" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextArea("RevisadoPor", (HttpUtility.HtmlDecode(Html.DisplayFor(a => a.Tramite.TramiteUltimaOportunidad.AdministrativoRevision.Nombre).ToHtmlString()) + Environment.NewLine + Html.DisplayFor(a => a.Tramite.TramiteUltimaOportunidad.AdministrativoRevision.Email) + Environment.NewLine + Html.DisplayFor(a => a.Tramite.TramiteUltimaOportunidad.AdministrativoRevision.Telefono)), 5, 120, new { @readonly = "readonly", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.Url, new { @class = "col-sm-2 control-label", @for = "Cardex" })
                    <div class="col-sm-10">


                        <a href="@Model.Tramite.TramiteUltimaOportunidad.Url" target="_blank" title="Cardex" class="btn btn-default">
                            <span class="glyphicon glyphicon-download"></span> Ver Cardex
                        </a>
                    </div>

                </div>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(a => a.DocenteAplicacion1, new { @class = "col-sm-2 control-label", @for = "Docente1" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(a => a.DocenteAplicacion1, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.DocenteAplicacion1).ToHtmlString()), @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(a => a.DocenteAplicacion1)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.DocenteAplicacion2, new { @class = "col-sm-2 control-label", @for = "Docente1" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(a => a.DocenteAplicacion2, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.DocenteAplicacion2).ToHtmlString()), @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(a => a.DocenteAplicacion2)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.FechaConsejoTecnico, new { @class = "col-sm-2 control-label", @for = "FechaConsejoTecnico" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(a => a.FechaConsejoTecnico, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.FechaConsejoTecnico).ToHtmlString()), @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(a => a.FechaConsejoTecnico)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(a => a.FechaExamen, new { @class = "col-sm-2 control-label", @for = "FechaExamen" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(a => a.FechaExamen, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.FechaExamen).ToHtmlString()), @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(a => a.FechaExamen)
                    </div>
                </div>

            </div>
        </div>
        <hr />

        @Html.ActionLink("Cancelar", "View", "AdministrativosTramiteUltimaOportunidad", new { Id = Model.Tramite.Id }, new { @class = "btn btn-primary" })
        <a id="Submit" class="btn btn-default">Guardar datos</a>
    </div>

}



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Examen de Última Oportunidad</h4>
            </div>
            <div class="modal-body">

                <p><img src="~/Content/images/img_PasosUltimaOportunidad_v1.png" /></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>






</div>

<!-- Modal -->
<div class="modal fade" id="ModalConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Trámites</h4>
            </div>
            <div class="modal-body">
                ¿La información a almacenar es correcta?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-danger">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        // extend jquery range validator to work for required checkboxes
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            if (element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>

    <script type="text/javascript">


        $(document).ready(function () {

            $('#DocenteAplicacion1').keyup(function () {
                var text = $(this).val();
                $(this).val(text.toUpperCase());
            })
         
            $("#DocenteAplicacion1").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.ajax({
                        url: "/VentanillaElectronica/Catalogos/GetAcademicos",
                        type: "POST",
                        dataType: "json",
                        data: {
                            keyword: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {

                                return {
                                    value: item
                                   // value: item.Nombre
                                };
                            }))
                        },
                        error: function () {
                            //alert('something went wrong !');
                        }
                    })
                },
                messages: {
                    noResults: '',
                    results: function (resultsCount) {  }
                }
            });

            $('#DocenteAplicacion2').keyup(function () {
                var text = $(this).val();
                $(this).val(text.toUpperCase());
            })

            $("#DocenteAplicacion2").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.ajax({
                        url: "/VentanillaElectronica/Catalogos/GetAcademicos",
                        type: "POST",
                        dataType: "json",
                        data: {
                            keyword: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {

                                return {
                                    value: item
                                    // value: item.Nombre
                                };
                            }))
                        },
                        error: function () {
                            //alert('something went wrong !');
                        }
                    })
                },
                messages: {
                    noResults: '',
                    results: function (resultsCount) { }
                }
            });


          
            $('#FechaConsejoTecnico').datetimepicker({
                format: 'DD/MM/YYYY'
            });

            $('#FechaExamen').datetimepicker({
                format: 'DD/MM/YYYY HH:mm', sideBySide: true


            });
            

            $('#Submit').click(function () {

                if ($('form').valid()) {
                    $('#ModalConfirmation').modal('show');
                }

            });

          


            $('#btnContinueDelete').click(function () {
                $('form').submit();





            });
        });
    </script>

}
