﻿
@model VentanillaElectronica.Models.ModelViewServe1UltimaOportunidad
@using VentanillaElectronica.Models;
@using System.Linq;
@{ VentanillaDBContext db = new VentanillaDBContext(); }
@{
    Layout = "~/Views/Shared/_LayoutContentAdministrativos.cshtml";
}


@using (Html.BeginForm("Serve1", "AdministrativosTramiteUltimaOportunidad", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))

{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.Tramite.Id)

    <div class="jumbotron alert-danger">
        <h2>Trámite de examen de Última oportunidad</h2>
        <h4>Denegar pre-trámite. Aplica a solicitudes que no procede enviarlas a Consejo Técnico </h4>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <img src="~/Content/images/icon_error.png" class="img-responsive center-block" alt="Denegado">
            </div>
            <div class="col-xs-12 col-md-9">

                <div class="form-group">

                    @Html.LabelFor(a => a.Tramite.Estatus, new { @class = "col-sm-2 control-label", @for = "Estatus" })
                    <div class="col-sm-10">

                        @if (Model.Tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado)
                {
                            <span class="label label-warning">@Model.Tramite.Estatus</span><span> el @Html.DisplayFor(a => a.Tramite.FechaRegistro)</span>
                        }
                        @if (Model.Tramite.TramiteUltimaOportunidad.Estatus == VentanillaElectronica.Models.EnumTramitesUltimaOportunidadEstatus.Revisado)
                {
                            <span class="label label-default">@Model.Tramite.Estatus</span>
                        }
                        @if (@Model.Tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Aceptado)
                {
                            <span class="label label-success">@Model.Tramite.Estatus</span>

                        }@if (@Model.Tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Denegado)
                {
                            <span class="label label-danger">@Model.Tramite.Estatus</span>
                        }

                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.Alumno.UserName, new { @class = "col-sm-2 control-label", @for = "Username" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.Alumno.UserName, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.Alumno.UserName).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.Alumno.Nombre, new { @class = "col-sm-2 control-label", @for = "Nombre" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.Alumno.Nombre, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.Alumno.Nombre).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.Alumno.EmailAlterno, new { @class = "col-sm-2 control-label", @for = "EmailAlterno" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.Alumno.EmailAlterno, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.Alumno.EmailAlterno).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.RegionPrograma, new { @class = "col-sm-2 control-label", @for = "RegionProgramas" })
                    <div class="col-sm-10">



                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-bookmark"></span></span>

                            <input type="text" value="@Model.Tramite.TramiteUltimaOportunidad.RegionPrograma.Value" disabled="disabled" class="form-control" />
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.ExperienciaEducativa, new { @class = "col-sm-2 control-label", @for = "ExperienciaEducativa" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.TramiteUltimaOportunidad.ExperienciaEducativa, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.TramiteUltimaOportunidad.ExperienciaEducativa).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.Docente, new { @class = "col-sm-2 control-label", @for = "Docente" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(a => a.Tramite.TramiteUltimaOportunidad.Docente, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Tramite.TramiteUltimaOportunidad.Docente).ToHtmlString()), @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(a => a.Tramite.TramiteUltimaOportunidad.PresentaInconveniente, new { @disabled = "disabled", @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">

                        @Html.LabelFor(a => a.Tramite.TramiteUltimaOportunidad.PresentaInconveniente, new { @for = "PresentaInconveniente", Style = "font-weight: normal" })<br />
                    </div>
                </div>
                <hr />

                <div class="form-group">

                    @Html.LabelFor(a => a.Administrativo, new { @class = "col-sm-2 control-label", @for = "Atendido por" })
                    <div class="col-sm-10">

                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextArea("AtendidoPor", (HttpUtility.HtmlDecode(Html.DisplayFor(a => a.Administrativo.Nombre).ToHtmlString()) + Environment.NewLine + Html.DisplayFor(a => a.Administrativo.Email) + Environment.NewLine + Html.DisplayFor(a => a.Administrativo.Telefono)), 5, 120, new { @readonly = "readonly", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    @Html.LabelFor(a => a.EstatusServe, new { @class = "col-sm-2 control-label", @for = "Estatus" })
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-record"></span></span>
                            @Html.DropDownListFor(a => a.EstatusServe, EnumHelper.GetSelectList(typeof(EnumTramitesEstatusServe)), String.Empty, new { @readonly = "readonly", @disabled = "disabled", @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(a => a.EstatusServe)
                    </div>
                </div>

                <div class="form-group">

                    <span class="col-sm-2 control-label">Agregar motivo al texto</span>
                    <div class="col-sm-10">
                        
                        <a id="70I" class="btn btn-default">Artículo 70 Fracción I</a>
                        <a id="70III" class="btn btn-default">Artículo 70 Fracción III</a>


                    </div>
                </div>

                <div class="form-group">

                    @Html.LabelFor(a => a.Observaciones, new { @class = "col-sm-2 control-label", @for = "Observaciones" })
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-bookmark"></span></span>
                            @Html.TextArea("Observaciones", HttpUtility.HtmlDecode(Html.DisplayFor(a => a.Observaciones).ToHtmlString()), 5, 120, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(a => a.Observaciones)
                    </div>
                </div>



            </div>
        </div>
        <hr />

        @Html.ActionLink("Cancelar", "View", "AdministrativosTramiteUltimaOportunidad", new { Id = Model.Tramite.Id }, new { @class = "btn btn-primary" })
        <a id="Submit" class="btn btn-default">Denegar pre-solicitud</a>
    </div>

}



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Examen de Última Oportunidad</h4>
            </div>
            <div class="modal-body">

                <p><img src="~/Content/images/img_PasosUltimaOportunidad_v1.png" /></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>






</div>

<!-- Modal -->
<div class="modal fade" id="ModalConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Trámites</h4>
            </div>
            <div class="modal-body">
                ¿La información a almacenar es correcta?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-danger">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        // extend jquery range validator to work for required checkboxes
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            if (element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>

    <script type="text/javascript">


        $(document).ready(function () {


            $('#Submit').click(function () {

                if ($('form').valid()) {
                    $('#ModalConfirmation').modal('show');
                }

            });

            $('#70I').click(function () {
                $('#Observaciones').val("No procede la presentación de la Experiencia Educativa en carácter de Última Oportunidad toda vez que en su historial académico se registra, en el mismo modo de evaluación, otra Experiencia Educativa. De acuerdo al Artículo 70, fracción I, del Estatuto de los Alumnos 2008, el modo de evaluación de Última Oportunidad solo procede cuando los alumnos adeuden sólo una Experiencia Educativa en el mismo periodo escolar.");
                

            });

            $('#70III').click(function () {
                $('#Observaciones').val("No procede la presentación de la Experiencia Educativa en carácter de Última Oportunidad toda vez que, de acuerdo al artículo 70, del Estatuto de alumnos, fracción III, este modo de evaluación se realizará en un plazo que no exceda del período escolar inmediato siguiente que cursaría el alumno.");


            });


            $('#btnContinueDelete').click(function () {
                $('form').submit();





            });
        });
    </script>

}
