﻿@model VentanillaElectronica.Models.VentanillaTramite


@{
    Layout = "~/Views/Shared/_LayoutContentAdministrativos.cshtml";
}




    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Denegado)
    {
        <div class="jumbotron alert-danger">
            <h2>Trámite de examen de Última oportunidad</h2>
            <h4>Trámite denegado</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_error.png" class="img-responsive center-block" alt="Denegado">
                </div>
                <div class="col-xs-12 col-md-9">
                    @Html.Partial("ViewDetails", Model)
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Dashboard", "Administrativos", null, new { @class = "btn btn-danger" })


        </div>
    }




    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado && Model.TramiteUltimaOportunidad.Estatus == null)
    {
        <div class="jumbotron alert-warning">
            <h2>Trámite de examen de Última oportunidad</h2>
            <h4>Solicitado, pendiente de revisión</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_time.png" class="img-responsive center-block" alt="Registro solicitado">
                </div>
                <div class="col-xs-12 col-md-9">
                    @Html.Partial("ViewDetails", Model)
                </div>
            </div>
            <hr />
  

                @Html.ActionLink("Editar", "Edit", "AdministrativosTramiteUltimaOportunidad", new { Id = Model.Id }, new { @class = "btn btn-default" })
             
            
            @if(Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado) { 
                @Html.ActionLink("Marcar como listo para Consejo Técnico", "Mark", "AdministrativosTramiteUltimaOportunidad", new { Id =  Model.Id }, new { @class = "btn btn-default", onclick = "return confirm('Al estableceer el trámte como Revisado, indica que la solicitud está preparada para su evaluación ante Consejo Técnico ¿Está seguro de continuar?.')" })
                @Html.ActionLink("Denegar solicitud", "Serve1", "AdministrativosTramiteUltimaOportunidad", new { Id = Model.Id }, new { @class = "btn btn-default", onclick = "return confirm('¿Desea denegar esta solicitud? Esta acción aplica a aquellas solicitudes que no son válidas para llegar a Consejo Técnico.')" })
            }

          


             @Html.ActionLink("Regresar", "Dashboard", "Administrativos", null, new { @class = "btn btn-info float-right" })




            </div>
    }


@if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado && Model.TramiteUltimaOportunidad.Estatus == VentanillaElectronica.Models.EnumTramitesUltimaOportunidadEstatus.Revisado)
{
    <div class="jumbotron">
        <h2>Trámite de examen de Última oportunidad</h2>
        <h4>Revisado, pendiente de evaluación por Consejo Técnico</h4>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="alert alert-warning" role="alert">
                    <img src="~/Content/images/icon_time.png" class="img-responsive center-block" alt="Revisado"><hr />
                    El trámite ha sido revisado por nuestro personal. Se ha validado la información para evaluarla ante Consejo Técnico.
                </div>
            </div>

            <div class="col-xs-12 col-md-9">
                @Html.Partial("ViewDetails", Model)
            </div>
        </div>
        <hr />

    
        @Html.ActionLink("Regresar", "Dashboard", "Administrativos", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Editar", "Edit", "AdministrativosTramiteUltimaOportunidad", new { Id = Model.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Registrar datos de Consejo Técnico", "Resolucion", "AdministrativosTramiteUltimaOportunidad", new { Id = Model.Id }, new { @class = "btn btn-default" })


     



    </div>
}

@if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado && Model.TramiteUltimaOportunidad.Estatus == VentanillaElectronica.Models.EnumTramitesUltimaOportunidadEstatus.DatosConsejoTecnico)
{
    <div class="jumbotron">
        <h2>Trámite de examen de Última oportunidad</h2>
        <h4>Trámite listo para notificar al estudiante</h4>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="alert alert-warning" role="alert">
                    <img src="~/Content/images/icon_time.png" class="img-responsive center-block" alt="Revisado"><hr />
                    El trámite ha sido revisado por nuestro personal. Se ha validado ante Consejo Técnico. Descargue los Oficios dirigidos hacia los docentes.
                </div>
            </div>

            <div class="col-xs-12 col-md-9">
                @Html.Partial("ViewDetails", Model)
            </div>
        </div>
        <hr />


        @Html.ActionLink("Regresar", "Dashboard", "Administrativos", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Modificar datos de Consejo Técnico", "Resolucion", "AdministrativosTramiteUltimaOportunidad", new { Id = Model.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Descargar oficios", "OficiosTramiteUltimaOportunidad", "AdministrativosTramiteUltimaOportunidad", new { Id = Model.Id }, new { @class = "btn btn-default", target = "_blank" })
        @Html.ActionLink("Registrar como Aceptado y notificar al Estudiante", "Serve", "AdministrativosTramiteUltimaOportunidad", new { Id = Model.Id }, new { @class = "btn btn-default" })


    </div>
}


    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Aceptado)
    {
        <div class="jumbotron alert-success">
            <h2>Trámite de examen de Última oportunidad</h2>
            <h4>Solicitud aceptada</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="alert alert-warning" role="alert">
                        <img src="~/Content/images/icon_exito.png" class="img-responsive center-block" alt="Aceptado">
                        </div>
                    
                </div>
                <div class="col-xs-12 col-md-9">
                    @Html.Partial("ViewDetails", Model)
                </div>
            </div>
            <hr />
            @Html.ActionLink("Descargar oficios", "OficiosTramiteUltimaOportunidad", "AdministrativosTramiteUltimaOportunidad", new { Id = Model.Id }, new { @class = "btn btn-default", target = "_blank" })

           @Html.ActionLink("Aceptar", "Dashboard", "Administrativos", null, new { @class = "btn btn-success" })

        </div>
    }


  

