﻿@model VentanillaElectronica.Models.VentanillaTramite




@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{

    <div class="form-group">

        @Html.LabelFor(a => a.Estatus, new { @class = "col-sm-2 control-label", @for = "Estatus" })
        <div class="col-sm-10">

            @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado)
            {
                <span class="label label-warning">@Model.Estatus</span><span> el @Html.DisplayFor(a => a.FechaRegistro)</span>
            }
            @if (Model.TramiteUltimaOportunidad.Estatus == VentanillaElectronica.Models.EnumTramitesUltimaOportunidadEstatus.Revisado)
            {
                <br /><span class="label label-default">@Model.TramiteUltimaOportunidad.Estatus</span><span> el @Html.DisplayFor(a => a.TramiteUltimaOportunidad.FechaRevisado)</span>
            }
            @if (Model.TramiteUltimaOportunidad.Estatus == VentanillaElectronica.Models.EnumTramitesUltimaOportunidadEstatus.DatosConsejoTecnico)
            {
                <br /><span class="label label-default">Revisado</span><span> el @Html.DisplayFor(a => a.TramiteUltimaOportunidad.FechaRevisado)</span>

                <br /><span class="label label-default">@Model.TramiteUltimaOportunidad.Estatus</span><span> el @Html.DisplayFor(a => a.TramiteUltimaOportunidad.FechaRevisado)</span>
            }
            @if (@Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Aceptado)
            {
                <span class="label label-success">@Model.Estatus</span>

            }@if (@Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Denegado)
            {
                <span class="label label-danger">@Model.Estatus</span>
            }

        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Alumno.UserName, new { @class = "col-sm-2 control-label", @for = "Username" })
        <div class="col-sm-10">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                @Html.TextBoxFor(a => a.Alumno.UserName, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Alumno.UserName).ToHtmlString()), @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Alumno.Nombre, new { @class = "col-sm-2 control-label", @for = "Nombre" })
        <div class="col-sm-10">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                @Html.TextBoxFor(a => a.Alumno.Nombre, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Alumno.Nombre).ToHtmlString()), @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Alumno.EmailAlterno, new { @class = "col-sm-2 control-label", @for = "EmailAlterno" })
        <div class="col-sm-10">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                @Html.TextBoxFor(a => a.Alumno.EmailAlterno, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Alumno.EmailAlterno).ToHtmlString()), @class = "form-control" })
            </div>
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(a => a.TramiteUltimaOportunidad.RegionPrograma, new { @class = "col-sm-2 control-label", @for = "RegionProgramas" })
            <div class="col-sm-10">
               
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-bookmark"></span></span>

                    <input type="text" value="@Model.TramiteUltimaOportunidad.RegionPrograma.Value" disabled="disabled" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.TramiteUltimaOportunidad.ExperienciaEducativa, new { @class = "col-sm-2 control-label", @for = "ExperienciaEducativa" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                    @Html.TextBoxFor(a => a.TramiteUltimaOportunidad.ExperienciaEducativa, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.TramiteUltimaOportunidad.ExperienciaEducativa).ToHtmlString()), @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.TramiteUltimaOportunidad.Docente, new { @class = "col-sm-2 control-label", @for = "Docente" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    @Html.TextBoxFor(a => a.TramiteUltimaOportunidad.Docente, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.TramiteUltimaOportunidad.Docente).ToHtmlString()), @class = "form-control" })
                </div>
            </div>
        </div>

    if (Model.TramiteUltimaOportunidad.PresentaInconveniente == true)
    {
        <div class="form-group">
             @Html.CheckBoxFor(a => a.TramiteUltimaOportunidad.PresentaInconveniente, new { @disabled = "disabled", @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <strong>Sí</strong>
                @Html.LabelFor(a => a.TramiteUltimaOportunidad.PresentaInconveniente, new { @for = "PresentaInconveniente", Style = "font-weight: normal" })<br />
            </div>
        </div>
    }


   
   
    if ( Model.TramiteUltimaOportunidad.Estatus == VentanillaElectronica.Models.EnumTramitesUltimaOportunidadEstatus.Revisado || Model.TramiteUltimaOportunidad.Estatus == VentanillaElectronica.Models.EnumTramitesUltimaOportunidadEstatus.DatosConsejoTecnico)
    {

       



        <hr />
        <div class="form-group">

            @Html.LabelFor(a => a.TramiteUltimaOportunidad.FechaRevisado, new { @class = "col-sm-2 control-label", @for = "FechaRevisado" })
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                    @Html.TextBoxFor(a => a.TramiteUltimaOportunidad.FechaRevisado, new { @readonly = "readonly", Value = Html.DisplayFor(a => a.TramiteUltimaOportunidad.FechaRevisado), @class = "form-control" })
                </div>
            </div>
        </div>

            <div class="form-group">

                @Html.LabelFor(a => a.TramiteUltimaOportunidad.AdministrativoRevision, new { @class = "col-sm-2 control-label", @for = "Atendidopor" })
                <div class="col-sm-10">

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        @Html.TextArea("RevisadoPor", (HttpUtility.HtmlDecode(Html.DisplayFor(a => a.TramiteUltimaOportunidad.AdministrativoRevision.Nombre).ToHtmlString()) + Environment.NewLine + Html.DisplayFor(a => a.TramiteUltimaOportunidad.AdministrativoRevision.Email) + Environment.NewLine + Html.DisplayFor(a => a.TramiteUltimaOportunidad.AdministrativoRevision.Telefono)), 5, 120, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">

                @Html.LabelFor(a => a.TramiteUltimaOportunidad.Url, new { @class = "col-sm-2 control-label", @for = "Cardex" })
                <div class="col-sm-10">


                    <a href="@Model.TramiteUltimaOportunidad.Url" target="_blank" title="Cardex" class="btn btn-default">
                        <span class="glyphicon glyphicon-download"></span> Ver Cardex
                    </a>
                </div>

            </div>


    }

    if (Model.TramiteUltimaOportunidad.Estatus == VentanillaElectronica.Models.EnumTramitesUltimaOportunidadEstatus.DatosConsejoTecnico)
    {
        <hr />


        <div class="form-group">

            @Html.LabelFor(a => a.TramiteUltimaOportunidad.FechaConsejoTecnico, new { @class = "col-sm-2 control-label", @for = "FechaConsejoTecnico" })
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                    @Html.TextBoxFor(a => a.TramiteUltimaOportunidad.FechaConsejoTecnico, new { @readonly = "readonly", Value = Html.DisplayFor(a => a.TramiteUltimaOportunidad.FechaConsejoTecnico), @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">

            @Html.LabelFor(a => a.TramiteUltimaOportunidad.FechaExamen, new { @class = "col-sm-2 control-label", @for = "FechaExamen" })
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                    @Html.TextBoxFor(a => a.TramiteUltimaOportunidad.FechaExamen, new { @readonly = "readonly", Value = Html.DisplayFor(a => a.TramiteUltimaOportunidad.FechaExamen), @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">

            @Html.LabelFor(a => a.TramiteUltimaOportunidad.DocenteAplicacion1, new { @class = "col-sm-2 control-label", @for = "DocenteAplicacion1" })
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                    @Html.TextBoxFor(a => a.TramiteUltimaOportunidad.DocenteAplicacion1, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.TramiteUltimaOportunidad.DocenteAplicacion1).ToHtmlString()), @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">

            @Html.LabelFor(a => a.TramiteUltimaOportunidad.DocenteAplicacion2, new { @class = "col-sm-2 control-label", @for = "DocenteAplicacion2" })
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                    @Html.TextBoxFor(a => a.TramiteUltimaOportunidad.DocenteAplicacion2, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.TramiteUltimaOportunidad.DocenteAplicacion2).ToHtmlString()), @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">

            @Html.LabelFor(a => a.TramiteUltimaOportunidad.FechaResolucion, new { @class = "col-sm-2 control-label", @for = "FechaResolucion" })
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                    @Html.TextBoxFor(a => a.TramiteUltimaOportunidad.FechaResolucion, new { @readonly = "readonly", Value = Html.DisplayFor(a => a.TramiteUltimaOportunidad.FechaResolucion), @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(a => a.TramiteUltimaOportunidad.AdministrativoResolucion, new { @class = "col-sm-2 control-label", @for = "AdministrativoResolucion" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    @Html.TextArea("Por", (HttpUtility.HtmlDecode(Html.DisplayFor(a => a.TramiteUltimaOportunidad.AdministrativoResolucion.Nombre).ToHtmlString()) + Environment.NewLine + Html.DisplayFor(a => a.TramiteUltimaOportunidad.AdministrativoResolucion.Email) + Environment.NewLine + Html.DisplayFor(a => a.TramiteUltimaOportunidad.AdministrativoResolucion.Telefono)), 5, 120, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>


    }

    if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Aceptado || Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Denegado)
    {
        <hr />
        <div class="form-group">

            @Html.LabelFor(a => a.FechaAtencion, new { @class = "col-sm-2 control-label", @for = "Fecha de atención" })
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                    @Html.TextBoxFor(a => a.FechaAtencion, new { @readonly = "readonly", Value = Html.DisplayFor(a => a.FechaAtencion), @class = "form-control" })
                </div>
            </div>
        </div>

            <div class="form-group">

                @Html.LabelFor(a => a.Administrativo, new { @class = "col-sm-2 control-label", @for = "Atendido por" })
                <div class="col-sm-10">

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        @Html.TextArea("AtendidoPor", (HttpUtility.HtmlDecode(Html.DisplayFor(a => a.Administrativo.Nombre).ToHtmlString()) + Environment.NewLine + Html.DisplayFor(a => a.Administrativo.Email) + Environment.NewLine + Html.DisplayFor(a => a.Administrativo.Telefono)), 5, 120, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">

                @Html.LabelFor(a => a.Observaciones, new { @class = "col-sm-2 control-label", @for = "Observaciones" })
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-bookmark"></span></span>
                        @Html.TextArea("Observaciones", HttpUtility.HtmlDecode(Html.DisplayFor(a => a.Observaciones).ToHtmlString()), 5, 120, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>

    }


}


