﻿@model VentanillaElectronica.Models.ModelViewTramitesEscenarios


@{
    Layout = "~/Views/Shared/_LayoutContentAlumnos.cshtml";
}


<div class="col-xs-12 col-md-8">
    <p>&nbsp;</p>

    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEscenarios.ItentosAgotados)
    {
        <div class="jumbotron alert-danger">
            <h2>Trámite de movilidad estudiantil</h2>
            <h4>Número de peticiones por periodo agotadas</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_error.png" class="img-responsive center-block" alt="Error">
                </div>
                <div class="col-xs-12 col-md-9">
                    <p>
                        @Html.Raw(HttpUtility.HtmlDecode(Model.mensaje))
                    </p>
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Index", "AlumnoTramiteMovilidad", null, new { @class = "btn btn-danger" })
        </div>
    }


    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEscenarios.Error)
    {
        <div class="jumbotron alert-danger">
            <h2>Trámite de movilidad estudiantil</h2>
            <h4>Error al intentar realizar la solicitud</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_error.png" class="img-responsive center-block" alt="Error">
                </div>
                <div class="col-xs-12 col-md-9">
                    <p>
                        @Html.Raw(HttpUtility.HtmlDecode(Model.mensaje))
                    </p>
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Index", "AlumnoTramiteMovilidad", null, new { @class = "btn btn-danger" })
        </div>
    }


    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEscenarios.RegistroExitoso)
    {
        <div class="jumbotron alert-success">
            <h2>Trámite de movilidad estudiantil</h2>
            <h4>Solicitud registrada con éxito</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_exito.png" class="img-responsive center-block" alt="Registro exitoso">
                </div>
                <div class="col-xs-12 col-md-9">
                    <p>
                        @Html.Raw(HttpUtility.HtmlDecode(Model.mensaje))
                    </p>
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Index", "AlumnoTramiteMovilidad", null, new { @class = "btn btn-success" })
        </div>
    }


    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEscenarios.RegistroExitente)
    {
        <div class="jumbotron alert-info">
            <h2>Trámite de movilidad estudiantil</h2>
            <h4>Solicitud previamente registrada</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_registroencontrado.png" class="img-responsive center-block" alt="Registro previamente registrado">
                </div>
                <div class="col-xs-12 col-md-9">
                    <p>
                        @Html.Raw(HttpUtility.HtmlDecode(Model.mensaje))
                    </p>
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Index", "AlumnoTramiteMovilidad", null, new { @class = "btn btn-info" })
        </div>
    }


    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEscenarios.CupoSaturado)
    {
        <div class="jumbotron alert-danger">
            <h2>Trámite de movilidad estudiantil</h2>
            <h4>Cupo saturado</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_error.png" class="img-responsive center-block" alt="Cupo de la oferta saturado">
                </div>
                <div class="col-xs-12 col-md-9">
                    <p>
                        @Html.Raw(HttpUtility.HtmlDecode(Model.mensaje))
                    </p>
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Index", "AlumnoTramiteMovilidad", null, new { @class = "btn btn-danger" })
        </div>
    }

        @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEscenarios.PeriodoNoDisponible)
        {
            <div class="jumbotron alert-danger">
                <h2>Trámite de movilidad estudiantil</h2>
                <h4>Fechas de realización del trámite no disponible</h4>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <img src="~/Content/images/icon_time.png" class="img-responsive center-block" style="float:left; margin-right: 40px" alt="Fechas de trámite no disponibe">
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <p>
                            @Html.Raw(HttpUtility.HtmlDecode(Model.mensaje))
                        </p>
                    </div>
                </div>
                <hr/>
                @Html.ActionLink("Aceptar", "Index", "AlumnoTramiteMovilidad", null, new { @class = "btn btn-danger" })
            </div>
        }


    </div>
    <div class="col-xs-6 col-md-4">

        <img src="~/Content/images/icon_tramitemovilidadestudiantil_v1.png" width="200" class="img-responsive center-block" alt="Movilidad Estudiantil">
        <h3>Reglas de Validación de Movilidad Estudiantil</h3>
        <hr />

        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Artículo 42. Estatuto de alumnos 2008
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        Movilidad estudiantil es la alternativa que tienen los alumnos para cursar estudios y obtener créditos en otras entidades académicas de la institución o en otras instituciones de educación superior, manteniendo el carácter de alumnos de la Universidad Veracruzana, siempre y cuando se encuentren inscritos en el Programa Educativo de origen.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Artículo 43. Estatuto de alumnos 2008
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Movilidad Estudiantil Institucional: La que se da al interior de la Universidad Veracruzana entre Programas Educativos con planes de estudio flexibles y hacia otra entidad o dependencia.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Artículo 44. Estatuto de alumnos 2008
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Para realizar estudios mediante movilidad estudiantil institucional, los alumnos deberán solicitar, durante los primeros cinco días hábiles de cada período escolar, su inscripción en las experiencias educativas ofrecidas por otra u otras entidades académicas, o dependencias de acuerdo con la capacidad de la entidad académica receptora, previa inscripción al periodo escolar en su entidad académica de origen y con la respectiva autorización de los Secretarios de las Facultades o titulares de las entidades académicas o dependencias de origen y destino.
                    </div>
                </div>
            </div>
        </div>

        <a href="~/Content/docs/FormatoMovilidad.xls" class="btn btn-info btn-block" target="_blank">
            Formato de movilidad .XLS
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        </a>
        <a href="~/Content/docs/FormatoMovilidad.pdf" class="btn btn-info btn-block" target="_blank">
            Formato de movilidad .PDF
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        </a>
        <a href="~/Content/docs/EstatutoAlumnos2008.pdf" class="btn btn-default btn-block" target="_blank">
            Estatuto de alumnos 2008
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        </a>
        <p>&nbsp;</p>
    </div>

