﻿
@model VentanillaElectronica.Models.ModelViewInscripcionMovilidad
@using VentanillaElectronica.Models;
@using System.Linq;
@{ VentanillaDBContext db = new VentanillaDBContext(); }
@{
    Layout = "~/Views/Shared/_LayoutContentAlumnos.cshtml";
}


<div class="col-xs-12 col-md-8">
    <h2>Registro de trámite de movilidad</h2>
    <h4>Periodo @Html.DisplayFor(m => m.periodo.Nombre)</h4>
    <hr />
    @{  int contador = Model.alumno.Tramites.Where(x => x.VentanillaAlumnoId == Model.alumno.Id && x.Periodo != null && x.Periodo.Id == Model.periodo.Id && x.Tipo == EnumTramitesTipo.MovilidadEstudiantil).Count(); }

    <div class="alert alert-warning" role="alert">
        <strong>Actualmente has realizado @contador solicitud(es)</strong>. Recuerda que sólo podrás realizar como <strong>máximo tres</strong> trámites de movilidad. Los registros se deben realizar por separado para cada experiencia educativa.
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @foreach (var programa in Model.inscripcionMovilidad)
        {
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading_@programa.Id">
                    <h4 class="panel-title">
                        <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_@programa.Id" aria-expanded="false" aria-controls="collapse_@programa.Id">
                            @programa.Programa
                            <span class="badge" style="float: right">
                                <strong>@Html.DisplayFor(x => programa.FechaInscripcionInicial)</strong> al
                                <strong>@Html.DisplayFor(x => programa.FechaInscripcionFinal)</strong>
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="collapse_@programa.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@programa.Id">
                    <div class="panel-body">

                        <table class="table table-striped">


                            @foreach (var oferta in programa.OfertaMovilidad)
                            {
                                int contadorTramitesExistentes = db.TramitesMovilidad.Where(x => x.OfertaMovilidad.Id == oferta.Id).Count();

                                <tr>
                                    <td width="100%">
                                    <strong>(NRC @oferta.NRC) @oferta.Nombre</strong></td>
                                    <td><span class="label label-info">@oferta.Cupo Cupo total</span></td>
                                    @if (DateTime.Now >= programa.FechaInscripcionInicial && DateTime.Now < programa.FechaInscripcionFinal)
                                    {
                                        if ((oferta.Cupo - contadorTramitesExistentes) == 0)
                                        {
                                            <td><span class="label label-danger">0 lugares disponibles</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="label label-success">@(oferta.Cupo - contadorTramitesExistentes) lugare(s) disponible(s)</span></td>
                                        }
                                    }
                                    else
                                    {
                                        <td colspan="2"><span class="label label-warning">Disponible hasta el @Html.DisplayFor(x => programa.FechaInscripcionInicial)</span></td>

                                    }
                                    <td>
                                        @if (DateTime.Now >= programa.FechaInscripcionInicial && DateTime.Now < programa.FechaInscripcionFinal)
                                        {
                                            var tramite = db.TramitesMovilidad.Where(x => x.OfertaMovilidad.Id == oferta.Id && x.Tramite.VentanillaAlumnoId == Model.alumno.Id).FirstOrDefault();


                                            if ((oferta.Cupo - contadorTramitesExistentes) == 0)
                                            {

                                                if (tramite == null)
                                                {
                                                    <a class="btn btn-default btn-block disabled">
                                                        Solicitar
                                                    </a>
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Ver solicitud", "View", "AlumnoTramiteMovilidad", new { Id = tramite.Id }, new { @class = "btn btn-primary" })

                                                }
                                            }
                                            else
                                            {
                                                if (tramite == null)
                                                {
                                                    if (contador >= 3)
                                                    {
                                                        <a class="btn btn-default btn-block disabled">
                                                            No disponible
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("Solicitar", "Register", "AlumnoTramiteMovilidad", new { Id = oferta.Id }, new { @class = "btn btn-default" })
                                                    }
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Ver solicitud", "View", "AlumnoTramiteMovilidad", new { Id = tramite.Id }, new { @class = "btn btn-primary" })

                                                }
                                            }
                                        }

                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="col-xs-6 col-md-4">

    <img src="~/Content/images/icon_tramitemovilidadestudiantil_v1.png" width="200" class="img-responsive center-block" alt="Movilidad Estudiantil">
    <h3>Reglas de Validación de Movilidad Estudiantil</h3>
    <hr />

    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Artículo 42. Estatuto de alumnos 2008
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Movilidad estudiantil es la alternativa que tienen los alumnos para cursar estudios y obtener créditos en otras entidades académicas de la institución o en otras instituciones de educación superior, manteniendo el carácter de alumnos de la Universidad Veracruzana, siempre y cuando se encuentren inscritos en el Programa Educativo de origen.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Artículo 43. Estatuto de alumnos 2008
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Movilidad Estudiantil Institucional: La que se da al interior de la Universidad Veracruzana entre Programas Educativos con planes de estudio flexibles y hacia otra entidad o dependencia.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Artículo 44. Estatuto de alumnos 2008
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Para realizar estudios mediante movilidad estudiantil institucional, los alumnos deberán  solicitar, durante los primeros cinco días hábiles de cada período escolar, su inscripción en las experiencias educativas ofrecidas por otra u otras entidades académicas, o dependencias de acuerdo con la capacidad de la entidad académica receptora, previa inscripción al periodo escolar en su entidad académica de origen y con la respectiva autorización de los Secretarios de las Facultades o titulares de las entidades académicas o dependencias de origen y destino.
                </div>
            </div>
        </div>
    </div>


    <a href="~/Content/docs/LineamientoTramiteMovilidad.pdf" class="btn btn-success btn-block" target="_blank">
        Lineamientos para trámite de movilidad
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </a>

    <a href="~/Content/docs/FormatoMovilidad.xls" class="btn btn-info btn-block" target="_blank">
        Formato de movilidad .XLS
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </a>
    <a href="~/Content/docs/FormatoMovilidad.pdf" class="btn btn-info btn-block" target="_blank">
        Formato de movilidad .PDF
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </a>
    <a href="~/Content/docs/EstatutoAlumnos2008.pdf" class="btn btn-default btn-block" target="_blank">
        Estatuto de alumnos 2008
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </a>
    <p>&nbsp;</p>








</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Trámite de Movilidad</h4>
            </div>
            <div class="modal-body">

                <h2>Periodo Agosto 2017 - Enero 2018 </h2>
               
                <p>
                    Atiende los lineamientos que se especifican en el siguiente documento: <hr/>
                    <a href="~/Content/docs/LineamientoTramiteMovilidad.pdf" class="btn btn-success btn-block" target="_blank">
                        Lineamientos para movilidad
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    </a>
                                </p>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/ecmascript">
        $( document ).ready(function() {
        $('#myModal').modal('show');
    });
    </script>
}


