﻿
@model VentanillaElectronica.Models.ModelViewTramitesMovilidad
@using VentanillaElectronica.Models;
@using System.Linq;
@{ VentanillaDBContext db = new VentanillaDBContext(); }
@{
    Layout = "~/Views/Shared/_LayoutContentAlumnos.cshtml";
}


<div class="col-xs-12 col-md-8">
    <h2>Registro de trámite de movilidad</h2>
    <h4>@Html.DisplayFor(m => m.tramite.Programa) -  @Html.DisplayFor(m => m.tramite.TramiteMovilidad.OfertaMovilidad.Nombre)</h4>
    <h4>Periodo @Html.DisplayFor(m => m.periodo.Nombre)</h4>
    <hr />
 
    @using (Html.BeginForm("Register", "AlumnoTramiteMovilidad",  FormMethod.Post, new { @class = "form-horizontal" , enctype = "multipart/form-data" }))

    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(p => p.tramite.TramiteMovilidad.VentanillaOfertaMovilidadId)

        int contadorTramitesExistentes = db.TramitesMovilidad.Where(x => x.OfertaMovilidad.Id == Model.tramite.TramiteMovilidad.OfertaMovilidad.Id).Count();


        if (@ViewBag.Message != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @ViewBag.Message
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(a => a.tramite.TramiteMovilidad.OfertaMovilidad.Cupo, new { @class = "col-sm-2 control-label", @for = "CupoOferta" })
            <div class="col-sm-10">

                <span class="control-label">@Model.tramite.TramiteMovilidad.OfertaMovilidad.Cupo lugar(es)</span>
                <span class="label label-success">@(Model.tramite.TramiteMovilidad.OfertaMovilidad.Cupo - contadorTramitesExistentes) lugares disponibles</span>

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.alumno.UserName, new { @class = "col-sm-2 control-label", @for = "Username" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    @Html.TextBoxFor(a => a.alumno.UserName, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.UserName).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.UserName)

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.alumno.Nombre, new { @class = "col-sm-2 control-label", @for = "Nombre" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                    @Html.TextBoxFor(a => a.alumno.Nombre, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.Nombre).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.alumno.Region, new { @class = "col-sm-2 control-label", @for = "Region" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                    @Html.TextBoxFor(a => a.alumno.Region, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.Region).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.Region)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.alumno.Programa, new { @class = "col-sm-2 control-label", @for = "Programa" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                    @Html.TextBoxFor(a => a.alumno.Programa, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.Programa).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.Programa)

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(a => a.alumno.Email, new { @class = "col-sm-2 control-label", @for = "Email" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    @Html.TextBoxFor(a => a.alumno.Email, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.Email).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.Email)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.tramite.Programa, new { @class = "col-sm-2 control-label", @for = "Programa" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                    @Html.TextBoxFor(a => a.tramite.Programa, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.tramite.Programa).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.tramite.Programa)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.tramite.TramiteMovilidad.OfertaMovilidad.Nombre, new { @class = "col-sm-2 control-label", @for = "OfertaMovilidadNombre" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                    @Html.TextBoxFor(a => a.tramite.TramiteMovilidad.OfertaMovilidad.Nombre, new { Value = ("NRC (" + Html.DisplayFor(x => x.tramite.TramiteMovilidad.OfertaMovilidad.NRC) + ") " + Html.DisplayFor(x => x.tramite.TramiteMovilidad.OfertaMovilidad.Nombre))  ,  @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.tramite.TramiteMovilidad.OfertaMovilidad.Nombre).ToHtmlString()),   @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.tramite.TramiteMovilidad.OfertaMovilidad.Nombre)

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(a => a.File, new { @class = "col-sm-2 control-label", @for = "File" })
            <div class="col-sm-10">

              
                    @Html.TextBoxFor(a => a.File, new { type = "file", maxFileSize = 100, language = "es", data_show_preview = "false",  data_show_upload = "false", data_allowed_file_extensions = "[\"pdf\", \"docx\",\"jpg\",\"jpeg\",\"png\"]", data_show_caption = "true", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.File).ToHtmlString()), @class = "file" })
                    <em><small>Sólo se admiten archivos en formato PDF, DOCX, JPG-JPEG, PNG.</small></em><br/>            
                @Html.ValidationMessageFor(a => a.File)

            </div>
        </div>    

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                @Html.ActionLink("Cancelar", "Index", "AlumnoTramiteMovilidad", null, new { @class = "btn btn-default" })
                <a id="Submit" class="btn btn-primary">Solicitar trámite</a>

            </div>
        </div>
    }



</div>
<div class="col-xs-6 col-md-4">

    <img src="~/Content/images/icon_tramitemovilidadestudiantil_v1.png" width="200" class="img-responsive center-block" alt="Movilidad Estudiantil">
    <h3>Reglas de Validación de Movilidad Estudiantil</h3>
    <hr />

    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Artículo 42. Estatuto de alumnos 2008
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Movilidad estudiantil es la alternativa que tienen los alumnos para cursar estudios y obtener créditos en otras entidades académicas de la institución o en otras instituciones de educación superior, manteniendo el carácter de alumnos de la Universidad Veracruzana, siempre y cuando se encuentren inscritos en el Programa Educativo de origen.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Artículo 43. Estatuto de alumnos 2008
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Movilidad Estudiantil Institucional: La que se da al interior de la Universidad Veracruzana entre Programas Educativos con planes de estudio flexibles y hacia otra entidad o dependencia.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Artículo 44. Estatuto de alumnos 2008
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Para realizar estudios mediante movilidad estudiantil institucional, los alumnos deberán  solicitar, durante los primeros cinco días hábiles de cada período escolar, su inscripción en las experiencias educativas ofrecidas por otra u otras entidades académicas, o dependencias de acuerdo con la capacidad de la entidad académica receptora, previa inscripción al periodo escolar en su entidad académica de origen y con la respectiva autorización de los Secretarios de las Facultades o titulares de las entidades académicas o dependencias de origen y destino.
                </div>
            </div>
        </div>
    </div>

    <a href="~/Content/docs/FormatoMovilidad.xls" class="btn btn-info btn-block" target="_blank">
        Formato de movilidad .XLS
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </a>
    <a href="~/Content/docs/FormatoMovilidad.pdf" class="btn btn-info btn-block" target="_blank">
        Formato de movilidad .PDF
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </a>
    <a href="~/Content/docs/EstatutoAlumnos2008.pdf" class="btn btn-default btn-block" target="_blank">
        Estatuto de alumnos 2008
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </a>
    <p>&nbsp;</p>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Trámites</h4>
            </div>
            <div class="modal-body">
                ¿La información a almacenar es correcta?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-danger">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#Submit').click(function () {

                if ($('form').valid()) {
                    $('#ModalConfirmation').modal('show');
                }

            });


            $('#btnContinueDelete').click(function () {
                $('form').submit();

            });
        });
    </script>
}




