﻿
@model VentanillaElectronica.Models.VentanillaAlumno
@using PagedList.Mvc;
@using VentanillaElectronica.Models;



@{
    Layout = "~/Views/Shared/_LayoutContentAlumnos.cshtml";
}
<h2>Trámites en curso</h2>
<hr />

@if (Model.Tramites.Count > 0)
{

    <table class="table table-striped">

        @foreach (var tramite in Model.Tramites)
        {
            <tr>
               
                @if (tramite.Tipo == EnumTramitesTipo.UltimaOportunidad)
                    {
                    <td nowrap>
                        <strong>Programa @tramite.TramiteUltimaOportunidad.RegionPrograma.Value</strong><br />
                        <small>@tramite.Tipo.Description()</small><br />

                    </td>
                    <td width="100%">
                        Experiencia Educativa @tramite.TramiteUltimaOportunidad.ExperienciaEducativa<br />
                        <small>Titular @tramite.TramiteUltimaOportunidad.Docente</small>
                    </td>
                }

                @if (tramite.Tipo == EnumTramitesTipo.Alta)
                    {
                    <td nowrap>
                        <strong>Periodo @tramite.Periodo.Nombre</strong><br />
                        <small>@tramite.Tipo.Description()</small><br />

                    </td>
                    <td width="100%">
                        NRC(@tramite.TramiteAlta.OfertaAlta.NRC) @tramite.TramiteAlta.OfertaAlta.Nombre<br />
                        <small>@Html.DisplayFor(x => tramite.TramiteAlta.OfertaAlta.InscripcionAltas.Programa)</small>
                    </td>
                }

                @if (tramite.Tipo == EnumTramitesTipo.MovilidadEstudiantil)
                    {
                    <td nowrap>
                        <strong>Periodo @tramite.Periodo.Nombre</strong><br />
                        <small>@tramite.Tipo.Description()</small><br />

                    </td>
                    <td width="100%">
                        NRC(@tramite.TramiteMovilidad.OfertaMovilidad.NRC) @tramite.TramiteMovilidad.OfertaMovilidad.Nombre<br/>
                        <small>@Html.DisplayFor(x => tramite.TramiteMovilidad.OfertaMovilidad.InscripcionMovilidad.Programa)</small>
                    </td>
                }
                @if (tramite.Tipo == EnumTramitesTipo.Baja)
                {
                    <td nowrap>
                        <strong>Periodo @tramite.Periodo.Nombre</strong><br />
                        <small>@tramite.Tipo.Description()</small><br />

                    </td>
                    <td width="100%">
                        NRC(@tramite.TramiteBaja.NRC) @tramite.TramiteBaja.ExperienciaEducativa<br />
                        @tramite.TramiteBaja.BloqueTurno
                    </td>
                }
                <td nowrap>
                    @if (@tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado)
                    {

                        if(@tramite.Tipo == EnumTramitesTipo.UltimaOportunidad) { 
                            if (@tramite.TramiteUltimaOportunidad.Estatus == VentanillaElectronica.Models.EnumTramitesUltimaOportunidadEstatus.Revisado)
                            {
                                <span class="label label-default">@tramite.TramiteUltimaOportunidad.Estatus</span>  <span> el @Html.DisplayFor(x => tramite.TramiteUltimaOportunidad.FechaRevisado)</span>
                            }
                            else
                            {
                                <span class="label label-warning">@tramite.Estatus</span>  <span> el @Html.DisplayFor(x => tramite.FechaRegistro)</span>

                            }
                        }


                    }
                   
                    @if (@tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Aceptado)
                    {
                        <span class="label label-success">@tramite.Estatus</span><span> el @Html.DisplayFor(x => tramite.FechaAtencion)</span>

                    }@if (@tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Denegado)
                    {
                        <span class="label label-danger">@tramite.Estatus</span><span> el @Html.DisplayFor(x => tramite.FechaAtencion)</span>
                    }

                </td>
                <td>

                    @if (tramite.Tipo == EnumTramitesTipo.Alta)
                    {
                        @Html.ActionLink("Ver detalles", "View", "AlumnoTramiteAltas", new { Id = tramite.Id }, new { @class = "btn btn-default" })

                    }
                    @if (tramite.Tipo == EnumTramitesTipo.MovilidadEstudiantil)
                    {
                        @Html.ActionLink("Ver detalles", "View", "AlumnoTramiteMovilidad", new { Id = tramite.Id }, new { @class = "btn btn-default" })

                    }
                    @if (tramite.Tipo == EnumTramitesTipo.Baja)
                    {
                        @Html.ActionLink("Ver detalles", "View", "AlumnoTramiteBajas", new { Id = tramite.Id }, new { @class = "btn btn-default" })

                    } 
                    @if (tramite.Tipo == EnumTramitesTipo.UltimaOportunidad)
                    {
                        @Html.ActionLink("Ver detalles", "View", "AlumnoTramiteUltimaOportunidad", new { Id = tramite.Id }, new { @class = "btn btn-default" })

                    }

                </td>
            </tr>
        }
    </table>

}
else
{
    <p style="text-align: center; margin-top: 20px">
        <img src="~/Content/images/icon_sintramites.png" class="img-responsive center-block" alt="Sin trámites en curso"><br />
        <span style="color: #d6d6d6">Sin trámites en curso</span>
    </p>
}


