﻿
@model VentanillaElectronica.Models.VentanillaAlumno
@using VentanillaElectronica.Models;

@{
    Layout = "~/Views/Shared/_LayoutContentAlumnos.cshtml";
}

<h2>Editar perfil</h2>
<hr />
@using (Html.BeginForm("Edit", "Alumnos", FormMethod.Post, new {  @class = "form-horizontal" }))

{
  
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.Id)

    if (@ViewBag.Message != null)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @ViewBag.Message
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(a => a.UserName, new { @class = "col-sm-2 control-label", @for = "Username" })
        <div class="col-sm-10">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                @Html.TextBoxFor(a => a.UserName, new { @readonly= "readonly",   @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.UserName).ToHtmlString()), @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(a => a.UserName)

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Nombre, new { @class = "col-sm-2 control-label", @for = "Nombre" })
        <div class="col-sm-10">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                @Html.TextBoxFor(a => a.Nombre, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Nombre).ToHtmlString()), @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(a => a.Nombre)

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Email, new { @class = "col-sm-2 control-label", @for = "Email" })
        <div class="col-sm-10">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                @Html.TextBoxFor(a => a.Email, new { @readonly= "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Email).ToHtmlString()), @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(a => a.Email)

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.EmailAlterno, new { @class = "col-sm-2 control-label", @for = "EmailAlterno" })
        <div class="col-sm-10">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                @Html.TextBoxFor(a => a.EmailAlterno, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.EmailAlterno).ToHtmlString()), @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(a => a.EmailAlterno)

        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(a => a.ConfirmacionEmailAlterno, new { @class = "col-sm-2 control-label", @for = "ConfirmacionEmailAlterno" })
        <div class="col-sm-10">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                @Html.TextBoxFor(a => a.ConfirmacionEmailAlterno, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.ConfirmacionEmailAlterno).ToHtmlString()), @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(a => a.ConfirmacionEmailAlterno)

        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(a => a.Programa, new { @class = "col-sm-2 control-label", @for = "Programa" })
        <div class="col-sm-10">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                @Html.DropDownListFor(x => x.Programa, EnumHelper.GetSelectList(typeof(EnumPrograma)), "", new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(a => a.Programa)

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Region, new { @class = "col-sm-2 control-label", @for = "Region" })
        <div class="col-sm-10">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                @Html.DropDownListFor(x => x.Region, EnumHelper.GetSelectList(typeof(EnumRegion)), "", new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(a => a.Region)

        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(a => a.Telefono, new { @class = "col-sm-2 control-label", @for = "Telefono" })
        <div class="col-sm-10">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span> @Html.DisplayFor(m => m.PrefijoInternacional) </span>
                @Html.TextBoxFor(a => a.Telefono, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Telefono).ToHtmlString()), @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(a => a.Telefono)
            @Html.HiddenFor(p => p.PrefijoInternacional)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">

            @Html.ActionLink("Cancelar", "Dashboard", "Alumnos", null, new { @class = "btn btn-default" }) 
            <input type="submit" value="Actualizar" class="btn btn-primary" />

        </div>
    </div>
}


