﻿@model VentanillaElectronica.Models.Usuario


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>     
            <a class="navbar-brand" href="@Url.Action("Dashboard", "Alumnos")">Ventanilla electrónica</a>
       
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Dashboard", "Alumnos")">Mis trámites</a></li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Nuevo trámite
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        @*<li><a href="@Url.Action("Index", "AlumnoTramiteMovilidad")">Movilidad estudiantil</a></li>
                        <li><a href="@Url.Action("Index", "AlumnoTramiteAltas")">Alta de experiencia educativa</a></li>
                        <li><a href="@Url.Action("Register", "AlumnoTramiteBajas")">Baja de experiencia educativa</a></li>*@
                        <li><a href="@Url.Action("Register", "AlumnoTramiteUltimaOportunidad")">Examen de última oportunidad</a></li>


                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @*<li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Ayuda
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Ayuda")">Directorio del SEA</a></li>
                    </ul>
                </li>*@
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        @Html.DisplayFor(m => m.Nombre)
                       
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a><strong>Alumno</strong></a></li>
                        <li><a href="@Url.Action("Edit", "Alumnos")">Editar perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("LogOut", "Home")">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

