﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Ventanilla Electrónica">
    <meta name="author" content="Raúl Pimentel">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <title>Ventanilla Electrónica</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        @{ Html.RenderAction("Header", "Alumnos"); }
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; @DateTime.Now.Year - Universidad Veracruzana <strong>Sistema de Enseñanza Abierta</strong>.</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/validate")
    @RenderSection("scripts", required: false)

</body>
</html>
