﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Ventanilla Electrónica">
    <meta name="author" content="Raúl Pimentel">
    <link rel="icon" href="../../favicon.ico">

    <title>Ventanilla Electrónica</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container-narrow">
        <div id="body" class="container">
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="jumbotron ">
                    <h2>Ventanilla electrónica</h2>
                    <h4>versión 2.0</h4>
                    <hr/>

                    @RenderBody()
                </div>
            </div>
            <div class="col-xs-6 col-md-4 hidden-xs hidden-sm">
                <img src="~/Content/images/logotipo.png" class="img-responsive center-block" alt="Ventanilla electrónica">


            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; @DateTime.Now.Year - Universidad Veracruzana <strong>Sistema de Enseñanza Abierta</strong>.</p>
        </div>
    </footer>
    </div>

    <div class="modal hide" id="WaitDialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
            <h1>Procesando ...</h1>
        </div>
        <div class="modal-body">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/validate")
    @RenderSection("scripts", required: false)

</body>
</html>
