﻿@model VentanillaElectronica.Models.ModelViewTramitesEscenarios


@{
    Layout = "~/Views/Shared/_LayoutContentAlumnos.cshtml";
}


<div class="col-xs-12 col-md-8">
    <p>&nbsp;</p>




    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEscenarios.Error)
    {
        <div class="jumbotron alert-danger">
            <h2>Solicitud de Examen de Última oportunidad</h2>
            <h4>Error al intentar realizar la solicitud</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_error.png" class="img-responsive center-block" alt="Error">
                </div>
                <div class="col-xs-12 col-md-9">
                    <p>
                        @Html.Raw(HttpUtility.HtmlDecode(Model.mensaje))
                    </p>
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Dashboard", "Alumnos", null, new { @class = "btn btn-danger" })

        </div>
    }


    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEscenarios.RegistroExitoso)
    {
        <div class="jumbotron">
            <h2>Trámite de Examen de Última oportunidad</h2>
            <h4>Solicitud registrada con éxito</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_exito.png" class="img-responsive center-block" alt="Registro exitoso">
                </div>
                <div class="col-xs-12 col-md-9">
                    <p>
                        @Html.Raw(HttpUtility.HtmlDecode(Model.mensaje))
                    </p>
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Dashboard", "Alumnos", null, new { @class = "btn btn-default" })


        </div>
    }

    

</div>
<div class="col-xs-6 col-md-4">

    <img src="~/Content/images/icon_tramite_ultimaoportunidad_v1.png" width="200" class="img-responsive center-block" alt="Examen de última oportunidad">
    <h3>Examen de última oportunidad</h3>
    <hr />

    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Nota
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    La no acreditación de este examen hará que el alumno cause baja definitiva del programa educativo.
                </div>
            </div>
        </div>

    </div>

    <a href="~/Content/docs/EstatutoAlumnos2008.pdf" class="btn btn-default btn-block" target="_blank">
        Estatuto de alumnos 2008
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </a>
    <p>&nbsp;</p>

</div>

