﻿
@model VentanillaElectronica.Models.ModelViewUltimaOportunidad
@using VentanillaElectronica.Models;
@using System.Linq;
@{ VentanillaDBContext db = new VentanillaDBContext(); }
@{
    Layout = "~/Views/Shared/_LayoutContentAlumnos.cshtml";
}


<div class="col-xs-12 col-md-8">
    <h2>Registro de solicitud de examen de Última Oportunidad</h2>
    <h4>H. Consejo Técnico</h4>
    <hr />
 
    @using (Html.BeginForm("Register", "AlumnoTramiteUltimaOportunidad",  FormMethod.Post, new { @class = "form-horizontal" , enctype = "multipart/form-data" }))

    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        if (@ViewBag.Message != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @ViewBag.Message
            </div>
        }
       
        <div class="form-group">
            @Html.LabelFor(a => a.Alumno.UserName, new { @class = "col-sm-2 control-label", @for = "Username" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    @Html.TextBoxFor(a => a.Alumno.UserName, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Alumno.UserName).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.Alumno.UserName)

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.Alumno.Nombre, new { @class = "col-sm-2 control-label", @for = "Nombre" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                    @Html.TextBoxFor(a => a.Alumno.Nombre, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Alumno.Nombre).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.Alumno.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.Alumno.EmailAlterno, new { @class = "col-sm-2 control-label", @for = "EmailAlterno" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                    @Html.TextBoxFor(a => a.Alumno.EmailAlterno, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Alumno.EmailAlterno).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.Alumno.EmailAlterno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.TramiteUltimaOportunidad.RegionPrograma, new { @class = "col-sm-2 control-label", @for = "RegionProgramas" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-bookmark"></span></span>
                    @Html.DropDownListFor(a => a.TramiteUltimaOportunidad.RegionProgramaId, new SelectList(Model.RegionProgramas, "Id", "Value"), String.Empty, new { @class = "form-control" })

                </div>
                @Html.ValidationMessageFor(a => a.TramiteUltimaOportunidad.RegionPrograma)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.TramiteUltimaOportunidad.ExperienciaEducativa, new { @class = "col-sm-2 control-label", @for = "ExperienciaEducativa" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                    @Html.TextBoxFor(a => a.TramiteUltimaOportunidad.ExperienciaEducativa, new {  @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.TramiteUltimaOportunidad.ExperienciaEducativa).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.TramiteUltimaOportunidad.ExperienciaEducativa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.TramiteUltimaOportunidad.Docente, new { @class = "col-sm-2 control-label", @for = "Docente" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    @Html.TextBoxFor(a => a.TramiteUltimaOportunidad.Docente, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.TramiteUltimaOportunidad.Docente).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.TramiteUltimaOportunidad.Docente)
            </div>
        </div>

        <div class="form-group">
            @Html.CheckBoxFor(a => a.TramiteUltimaOportunidad.PresentaInconveniente, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                
                 @Html.LabelFor(a => a.TramiteUltimaOportunidad.PresentaInconveniente, new { @for = "PresentaInconveniente", Style = "font-weight: normal" })<br/>
                 @Html.ValidationMessageFor(a => a.TramiteUltimaOportunidad.PresentaInconveniente)
                </div>
        </div>
        <div class="form-group">
            @Html.CheckBoxFor(a => a.TramiteUltimaOportunidad.TerminosYCondiciones1, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">

                @Html.LabelFor(a => a.TramiteUltimaOportunidad.TerminosYCondiciones1, new { @for = "TerminosYCondiciones1", Style = "font-weight: normal"  })<br />
                @Html.ValidationMessageFor(a => a.TramiteUltimaOportunidad.TerminosYCondiciones1)

            </div>
        </div>


      

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                @Html.ActionLink("Cancelar", "Dashboard", "Alumnos", null, new { @class = "btn btn-default" })
                <a id="Submit" class="btn btn-primary">Solicitar trámite</a>

            </div>
        </div>
    }



</div>
<div class="col-xs-6 col-md-4">

    <img src="~/Content/images/icon_tramite_ultimaoportunidad_v1.png" width="200" class="img-responsive center-block" alt="Examen de última oportunidad">
    <h3>Examen de última oportunidad</h3>
    <hr />

    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Nota
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    La no acreditación de este examen hará que el alumno cause baja definitiva del programa educativo.                </div>
            </div>
        </div>

    </div>


    <a href="~/Content/docs/EstatutoAlumnos2008.pdf" class="btn btn-default btn-block" target="_blank">
        Estatuto de alumnos 2008
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </a>
    <p>&nbsp;</p>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Trámites</h4>
            </div>
            <div class="modal-body">
                ¿La información a almacenar es correcta?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-danger">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Trámite de examen de Última Oportunidad</h4>
            </div>
            <div class="modal-body">

               <p><img src="~/Content/images/img_PasosUltimaOportunidad_v1.png" /></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

<script>
			// extend jquery range validator to work for required checkboxes
			var defaultRangeValidator = $.validator.methods.range;
			$.validator.methods.range = function(value, element, param) {
				if(element.type === 'checkbox') {
					// if it's a checkbox return true if it is checked
					return element.checked;
				} else {
					// otherwise run the default validation function
					return defaultRangeValidator.call(this, value, element, param);
				}
			}
</script>
   
    <script type="text/javascript">
       

        $(document).ready(function () {

           
            $('#TramiteUltimaOportunidad_Docente').keyup(function () {
                var text = $(this).val();
                $(this).val(text.toUpperCase());
            })

            $("#TramiteUltimaOportunidad_Docente").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.ajax({
                        url: "/VentanillaElectronica/Catalogos/GetAcademicos",
                        type: "POST",
                        dataType: "json",
                        data: {
                            keyword: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {

                                return {
                                    value: item
                                    // value: item.Nombre
                                };
                            }))
                        },
                        error: function () {
                            //alert('something went wrong !');
                        }
                    })
                },
                messages: {
                    noResults: '',
                    results: function (resultsCount) { }
                }
            });

            $('#TramiteUltimaOportunidad_ExperienciaEducativa').keyup(function () {
                var text = $(this).val();
                $(this).val(text.toUpperCase());
            })

            $("#TramiteUltimaOportunidad_ExperienciaEducativa").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.ajax({
                        url: "/VentanillaElectronica/Catalogos/GetExperienciasEducativas",
                        type: "POST",
                        dataType: "json",
                        data: {
                            keyword: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {

                                return {
                                    value: item
                                    // value: item.Nombre
                                };
                            }))
                        },
                        error: function () {
                            //alert('something went wrong !');
                        }
                    })
                },
                messages: {
                    noResults: '',
                    results: function (resultsCount) { }
                }
            });


            $('#myModal').modal('show');

            $('#Submit').click(function () {

                if ($('form').valid()) {
                    $('#ModalConfirmation').modal('show');
                }

            });

           


            $('#btnContinueDelete').click(function () {
               $('form').submit();


              


            });
        });
    </script>

    }