﻿@model VentanillaElectronica.Models.VentanillaTramite


@{
    Layout = "~/Views/Shared/_LayoutContentAlumnos.cshtml";
}




    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Denegado)
    {
        <div class="jumbotron alert-danger">
            <h2>Trámite de examen de Última oportunidad</h2>
            <h4>Trámite denegado</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_error.png" class="img-responsive center-block" alt="Denegado">
                </div>
                <div class="col-xs-12 col-md-9">
                    @Html.Partial("ViewDetails", Model)
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Dashboard", "Alumnos", null, new { @class = "btn btn-danger" })


        </div>
    }




    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado && Model.TramiteUltimaOportunidad.Estatus == null)
    {
        <div class="jumbotron alert-warning">
            <h2>Trámite de examen de Última oportunidad</h2>
            <h4>Solicitado, pendiente de revisión</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_time.png" class="img-responsive center-block" alt="Registro solicitado">
                </div>
                <div class="col-xs-12 col-md-9">
                    @Html.Partial("ViewDetails", Model)
                </div>
            </div>
            <hr />

            @Html.ActionLink("Eliminar", "Delete", "AlumnoTramiteUltimaOportunidad", new { Id = Model.Id }, new { @class = "btn btn-default", onclick = "return confirm('¿Estás seguro de eliminar este Trámite de movilidad? Recuerda que sólo se puede eliminar cuando el trámite aún no ha sido revisado por nuestro personal.');" })
            @Html.ActionLink("Aceptar", "Dashboard", "Alumnos", null, new { @class = "btn btn-warning" })




        </div>
    }

@if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado && Model.TramiteUltimaOportunidad.Estatus == VentanillaElectronica.Models.EnumTramitesUltimaOportunidadEstatus.Revisado)
{
    <div class="jumbotron">
        <h2>Trámite de examen de Última oportunidad</h2>
        <h4>Revisado. En espera de Consejo Técnico</h4>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <img src="~/Content/images/icon_time.png" class="img-responsive center-block" alt="Registro revisado">
            </div>
            <div class="col-xs-12 col-md-9">
                @Html.Partial("ViewDetails", Model)
            </div>
        </div>
        <hr />

        @Html.ActionLink("Aceptar", "Dashboard", "Alumnos", null, new { @class = "btn btn-default" })




    </div>
}



    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Aceptado)
    {
        <div class="jumbotron alert-success">
            <h2>Trámite de examen de Última oportunidad</h2>
            <h4>Solicitud aceptada</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="alert alert-warning" role="alert">
                        <img src="~/Content/images/icon_exito.png" class="img-responsive center-block" alt="Aceptado"><hr/>
                    Tu trámite ha sido aceptado. Recuerda que debes verficar tu carga académica y horario de tus experiencias educativas en el <a href="http://www.uv.mx/" target="_blank" title="Portal de Alumnos">portal de alumnos</a></div>

                    
                </div>
                <div class="col-xs-12 col-md-9">
                    @Html.Partial("ViewDetails", Model)
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Dashboard", "Alumnos", null, new { @class = "btn btn-success" })

        </div>
    }


  

