﻿
@model VentanillaElectronica.Models.ModelViewLogin

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { ReturnUrl = Request.QueryString["ReturnUrl"], @class = "form-horizontal" }))

{
  
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (@ViewBag.Message != null)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @ViewBag.Message<br />
            <a href="~/Content/docs/RecuperaTuCuenta.pdf" target="_blank">Cómo recuperar mi cuenta</a>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(a => a.Username, new { @class = "col-sm-2 control-label", @for = "Username" })
        <div class="col-sm-10">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                @Html.TextBoxFor(a => a.Username, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Username).ToHtmlString()), @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(a => a.Username)

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.Password, new { @class = "col-sm-2 control-label", @for = "Password" })
        <div class="col-sm-10">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                @Html.PasswordFor(a => a.Password, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.Password).ToHtmlString()), @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(a => a.Password)

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Acceder" class="btn btn-default" />

        </div>
    </div>
}


