﻿
@model PagedList.IPagedList<VentanillaElectronica.Models.VentanillaTramite>
@using PagedList.Mvc;
@using VentanillaElectronica.Models;

@{
    Layout = "~/Views/Shared/_LayoutContentAdministrativos.cshtml";
}


@using (Html.BeginForm("Dashboard", "Administrativos", FormMethod.Get, new { @class = "form-inline" }))
{

    <div class="col-md-7" style="float: right;">
        <div class="form-group">
            Buscar por nombre: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })

        </div>
        <input type="submit" value="Buscar" class="btn btn-info" />


        <div class="form-group" style="float: right;">
            Filtrar por:
            @Html.DropDownList("EstatusFilter", EnumHelper.GetSelectList(typeof(EnumTramitesEstatus)), new { @class = "form-control", onchange = "this.form.submit();" })

        </div>

    </div>

        <h2>Trámites</h2>
        <h4>
            <small class="text-danger">
                Mostrando: Estatus @ViewBag.EstatusFilter
                @if (ViewBag.CurrentFilter != null)
                {
                    <span>, Nombre contiene &lt;&lt; @ViewBag.CurrentFilter &gt;&gt;</span>
                }
            </small>
        </h4>
        <hr />
    if (Model.Count() > 0)
    {


        <table class="table table-striped">

            @foreach (var tramite in Model)
            {
                <tr>
                    <td nowrap>
                        @if (tramite.Tipo == EnumTramitesTipo.Alta || tramite.Tipo == EnumTramitesTipo.Baja || tramite.Tipo == EnumTramitesTipo.MovilidadEstudiantil)
                        {
                            <strong>Periodo @tramite.Periodo.Nombre</strong><br />
                            <small>@tramite.Tipo.Description()</small>
                        }
                        @if (tramite.Tipo == EnumTramitesTipo.UltimaOportunidad)
                        {
                        <strong>Programa @tramite.TramiteUltimaOportunidad.RegionPrograma.Value</strong><br />
                        <small>@tramite.Tipo.Description()</small>
                        }
                    </td>

                    @if (tramite.Tipo == EnumTramitesTipo.Alta)
                    {
                        <td width="100%">
                            NRC(@tramite.TramiteAlta.OfertaAlta.NRC) @tramite.TramiteAlta.OfertaAlta.Nombre<br />
                            <small>@tramite.Programa</small>
                        </td>

                    }

                    @if (tramite.Tipo == EnumTramitesTipo.MovilidadEstudiantil)
                    {
                        <td width="100%">
                            NRC(@tramite.TramiteMovilidad.OfertaMovilidad.NRC) @tramite.TramiteMovilidad.OfertaMovilidad.Nombre<br />
                            <small>@tramite.Programa</small>
                        </td>

                    }
                    @if (tramite.Tipo == EnumTramitesTipo.Baja)
                    {
                        <td width="100%">
                            NRC(@tramite.TramiteBaja.NRC) @tramite.TramiteBaja.ExperienciaEducativa<br />
                            <small>@tramite.TramiteBaja.BloqueTurno</small>
                        </td>
                    }

                    @if (tramite.Tipo == EnumTramitesTipo.UltimaOportunidad)
                    {
                        <td width="100%">
                            Experiencia Educativa: @tramite.TramiteUltimaOportunidad.ExperienciaEducativa<br />
                            <small>Docente: @tramite.TramiteUltimaOportunidad.Docente</small>
                        </td>
                    }

                    <td nowrap>
                        @if (@tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado)
                        {
                            <span class="label label-warning">@tramite.Estatus</span>  <span> el @Html.DisplayFor(x => tramite.FechaRegistro)</span>
                            <br /><small>Solicitado por @HttpUtility.HtmlDecode(Html.DisplayFor(x => tramite.Alumno.Nombre).ToHtmlString())</small>

                            if (@tramite.TramiteUltimaOportunidad.Estatus == VentanillaElectronica.Models.EnumTramitesUltimaOportunidadEstatus.Revisado)
                            {
                                <br /><span class="label label-default">@tramite.TramiteUltimaOportunidad.Estatus</span><span> el @Html.DisplayFor(x => tramite.TramiteUltimaOportunidad.FechaRevisado)</span>
                               <br /><small>Revisado por @HttpUtility.HtmlDecode(Html.DisplayFor(x => tramite.TramiteUltimaOportunidad.AdministrativoRevision.Nombre).ToHtmlString())</small>

                            }
                            if (@tramite.TramiteUltimaOportunidad.Estatus == VentanillaElectronica.Models.EnumTramitesUltimaOportunidadEstatus.DatosConsejoTecnico)
                            {
                             
                                <br /><span class="label label-default">@tramite.TramiteUltimaOportunidad.Estatus</span><span> el @Html.DisplayFor(x => tramite.TramiteUltimaOportunidad.FechaConsejoTecnico)</span>
                                <br /><small>Por @HttpUtility.HtmlDecode(Html.DisplayFor(x => tramite.TramiteUltimaOportunidad.AdministrativoRevision.Nombre).ToHtmlString())</small>

                            }

                        }
                        @if (@tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Aceptado)
                        {
                            <span class="label label-success">@tramite.Estatus</span><span> el @Html.DisplayFor(x => tramite.FechaAtencion)</span>
                            <br /><small>Solicitado por @HttpUtility.HtmlDecode(Html.DisplayFor(x => tramite.Alumno.Nombre).ToHtmlString())</small>
                            <br /><small>Atendido por @HttpUtility.HtmlDecode(Html.DisplayFor(x => tramite.Administrativo.Nombre).ToHtmlString())</small>

                        }
                        @if (@tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Denegado)
                        {
                            <span class="label label-danger">@tramite.Estatus</span><span> el @Html.DisplayFor(x => tramite.FechaAtencion)</span>
                            <br /><small>Solicitado por @HttpUtility.HtmlDecode(Html.DisplayFor(x => tramite.Alumno.Nombre).ToHtmlString())</small>
                            <br /><small>Atendido por @HttpUtility.HtmlDecode(Html.DisplayFor(x => tramite.Administrativo.Nombre).ToHtmlString())</small>

                        }

                       

                    </td>
                    <td>

                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Acciones
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                @if (@tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado)
                                {

                                    if (tramite.Tipo == EnumTramitesTipo.Baja)
                                    {
                                        <li> @Html.ActionLink("Atender", "Serve", "AdministrativosTramiteBaja", new { Id = tramite.Id }, new { })</li>

                                    }
                                    if (tramite.Tipo == EnumTramitesTipo.MovilidadEstudiantil)
                                    {
                                        <li>@Html.ActionLink("Atender", "Serve", "AdministrativosTramiteMovilidad", new { Id = tramite.Id }, new { })</li>
                                    }
                                    if (tramite.Tipo == EnumTramitesTipo.Alta)
                                    {
                                        <li>@Html.ActionLink("Atender", "Serve", "AdministrativosTramiteAltas", new { Id = tramite.Id }, new { })</li>
                                    }
                                    if (tramite.Tipo == EnumTramitesTipo.UltimaOportunidad)
                                    {
                                        <li>@Html.ActionLink("Ver detalles", "View", "AdministrativosTramiteUltimaOportunidad", new { Id = tramite.Id }, new { })</li>
                                    }
                                }

                                @if (@tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Aceptado || @tramite.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Denegado)
                                {
                                    if (tramite.Tipo == EnumTramitesTipo.MovilidadEstudiantil)
                                    {
                                        <li> @Html.ActionLink("Ver detalles", "View", "AdministrativosTramiteMovilidad", new { Id = tramite.Id }, new { }) </li>
                                    }
                                    if (tramite.Tipo == EnumTramitesTipo.Baja)
                                    {
                                        <li> @Html.ActionLink("Ver detalles", "View", "AdministrativosTramiteBaja", new { Id = tramite.Id }, new { }) </li>

                                    }
                                    if (tramite.Tipo == EnumTramitesTipo.Alta)
                                    {
                                        <li> @Html.ActionLink("Ver detalles", "View", "AdministrativosTramiteAltas", new { Id = tramite.Id }, new { }) </li>

                                    }
                                    if (tramite.Tipo == EnumTramitesTipo.UltimaOportunidad)
                                    {
                                        <li> @Html.ActionLink("Ver detalles", "View", "AdministrativosTramiteUltimaOportunidad", new { Id = tramite.Id }, new { }) </li>

                                    }
                                }
                              



                                <li role="separator" class="divider"></li>
                                @if (User.IsInRole("ADMINISTRADORES"))
                                {
                                    if (tramite.Tipo == EnumTramitesTipo.MovilidadEstudiantil && (tramite.Estatus == EnumTramitesEstatus.Solicitado || tramite.Estatus == EnumTramitesEstatus.Denegado))
                                    {
                                        <li>@Html.ActionLink("Editar", "Edit", "AdministradoresTramiteMovilidad", new { Id = tramite.Id }, new { })</li>
                                    }


                                }
                            </ul>

                        </div>





                    </td>

                </tr>


            }
        </table>
        <br />
        if (Model.PageCount > 1)
        {

            <span>Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount con estatus: @ViewBag.EstatusFilter</span>

            @Html.PagedListPager(Model, page => Url.Action("Dashboard", new { page, EstatusFilter = ViewBag.EstatusFilterInt, currentFilter = ViewBag.CurrentFilter }))

        }



    }
    else
    {
        <p style="text-align: center; margin-top: 20px">
            <img src="~/Content/images/icon_sintramites.png" class="img-responsive center-block" alt="Sin trámites en curso"><br />
            <span style="color: #d6d6d6">Sin trámites encontrados con estatus: @ViewBag.EstatusFilter</span>
        </p>
    }


}

