﻿@model VentanillaElectronica.Models.Usuario


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>     
            <a class="navbar-brand" href="@Url.Action("Dashboard", "Administrativos")">Ventanilla electrónica</a>
       
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          

            <ul class="nav navbar-nav">
               
@if (User.IsInRole("T407"))
{
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Examen de Última Oportunidad</li>
                        @if (User.IsInRole("T407"))
                        {
                        <li>@Html.ActionLink("Solicitudes revisadas para Consejo Técnico", "ReporteExamenUltimaOportunidadRevisados", "Administrativos", null, new { @class = "btn btn-info", target = "_blank" })</li>
                        }
                        <li role="separator" class="divider"></li>
                         </ul>
                </li>
}

                @if (User.IsInRole("ADMINISTRADORES"))
                {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios y permisos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       
                        <li><a href="@Url.Action("Permisos", "Administradores")">Permisos de usuario</a></li>

                    </ul>
                </li>
                }


            </ul>
            <ul class="nav navbar-nav navbar-right">
                @*<li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Ayuda
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Sugerencias", "Ayuda")">Aportes y sugerencias</a></li>
                    </ul>
                </li>*@
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        @Html.DisplayFor(m => m.Nombre)
                       
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a><strong>Administrativo</strong></a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("LogOut", "Home")">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

