﻿
@model VentanillaElectronica.Models.ModelViewInscripcionAltas

@using VentanillaElectronica.Models;
@using System.Linq;
@{ VentanillaDBContext db = new VentanillaDBContext(); }
@{
    Layout = "~/Views/Shared/_LayoutContentAlumnos.cshtml";
}


<div class="col-xs-12 col-md-8">
    <h2>Registro de alta de experiencia educativa</h2>
    <h4>Periodo @Html.DisplayFor(m => m.periodo.Nombre)</h4>
    <hr />

    <div class="alert alert-warning" role="alert">
        Sólo para alumnos del SEA que hayan completado su inscripción en línea.<br/><br />
        Recuerda que sólo podrás realizar como <strong>máximo cinco</strong> trámites de alta en toda tu carrera. Los registros se deben realizar por separado para cada experiencia educativa.
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @foreach (var programa in Model.inscripcionAltas)
        {
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading_@programa.Id">
                    <h4 class="panel-title">
                        <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_@programa.Id" aria-expanded="false" aria-controls="collapse_@programa.Id">
                            @programa.Programa
                            <span class="badge" style="float: right">
                                <strong>@Html.DisplayFor(x => programa.FechaInscripcionInicial)</strong> al
                                <strong>@Html.DisplayFor(x => programa.FechaInscripcionFinal)</strong>
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="collapse_@programa.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@programa.Id">
                    <div class="panel-body">

                        <table class="table table-striped">


                            @foreach (var oferta in programa.OfertaAlta)
                            {
                                int contadorTramitesExistentes = db.TramitesAltas.Where(x => x.OfertaAlta.Id == oferta.Id).Count();

                                <tr>
                                    <td width="100%">
                                    <strong>(NRC @oferta.NRC) @oferta.Nombre</strong></td>
                                    <td><span class="label label-info">@oferta.Cupo Cupo total</span></td>
                                    @if (DateTime.Now >= programa.FechaInscripcionInicial && DateTime.Now < programa.FechaInscripcionFinal)
                                    {
                                        if ((oferta.Cupo - contadorTramitesExistentes) == 0)
                                        {
                                            <td><span class="label label-danger">0 lugares disponibles</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="label label-success">@(oferta.Cupo - contadorTramitesExistentes) lugare(s) disponible(s)</span></td>
                                        }
                                    }
                                    else
                                    {
                                        <td colspan="2"><span class="label label-warning">Disponible hasta el @Html.DisplayFor(x => programa.FechaInscripcionInicial)</span></td>

                                    }
                                    <td>
                                        @if (DateTime.Now >= programa.FechaInscripcionInicial && DateTime.Now < programa.FechaInscripcionFinal)
                                        {
                                            var tramite = db.TramitesAltas.Where(x => x.OfertaAlta.Id == oferta.Id && x.Tramite.VentanillaAlumnoId == Model.alumno.Id).FirstOrDefault();


                                            if ((oferta.Cupo - contadorTramitesExistentes) == 0)
                                            {

                                                if (tramite == null)
                                                {
                                                    <a class="btn btn-default btn-block disabled">
                                                        Solicitar
                                                    </a>
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Ver solicitud", "View", "AlumnoTramiteAltas", new { Id = tramite.Id }, new { @class = "btn btn-primary" })

                                                }
                                            }
                                            else
                                            {
                                                if (tramite == null)
                                                {
                                                    
                                                   @Html.ActionLink("Solicitar", "Register", "AlumnoTramiteAltas", new { Id = oferta.Id }, new { @class = "btn btn-default" })
                                                    
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Ver solicitud", "View", "AlumnoTramiteAltas", new { Id = tramite.Id }, new { @class = "btn btn-primary" })

                                                }
                                            }
                                        }

                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="col-xs-6 col-md-4">

    <img src="~/Content/images/icon_tramitealta_v1.png" width="200" class="img-responsive center-block" alt="Alta de experiencia educativa">
    <h3>Reglas de Validación de alta de experiencia educativa</h3>
    <hr />

    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Nota
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Analiza bien tu solicitud, recuerda que solo tienes derecho a 5 altas y bajas durante toda tu trayectoria escolar
                </div>
            </div>
        </div>

    </div>


    <a href="~/Content/docs/EstatutoAlumnos2008.pdf" class="btn btn-default btn-block" target="_blank">
        Estatuto de alumnos 2008
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </a>
    <p>&nbsp;</p>
</div>





