﻿
@model VentanillaElectronica.Models.ModelViewTramitesAltas
@using VentanillaElectronica.Models;
@using System.Linq;
@{ VentanillaDBContext db = new VentanillaDBContext(); }
@{
    Layout = "~/Views/Shared/_LayoutContentAlumnos.cshtml";
}


<div class="col-xs-12 col-md-8">
    <h2>Registro de alta de experiencia educativa</h2>
    <h4>@Html.DisplayFor(m => m.tramite.Programa) -  @Html.DisplayFor(m => m.tramite.TramiteAlta.OfertaAlta.Nombre)</h4>
    <h4>Periodo @Html.DisplayFor(m => m.periodo.Nombre)</h4>
    <hr />
 
    @using (Html.BeginForm("Register", "AlumnoTramiteAltas",  FormMethod.Post, new { @class = "form-horizontal" , enctype = "multipart/form-data" }))

    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(p => p.tramite.TramiteAlta.VentanillaOfertaAltasId)

        int contadorTramitesExistentes = db.TramitesAltas.Where(x => x.OfertaAlta.Id == Model.tramite.TramiteAlta.OfertaAlta.Id).Count();


        if (@ViewBag.Message != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @ViewBag.Message
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(a => a.tramite.TramiteAlta.OfertaAlta.Cupo, new { @class = "col-sm-2 control-label", @for = "CupoOferta" })
            <div class="col-sm-10">

                <span class="control-label">@Model.tramite.TramiteAlta.OfertaAlta.Cupo lugar(es)</span>
                <span class="label label-success">@(Model.tramite.TramiteAlta.OfertaAlta.Cupo - contadorTramitesExistentes) lugares disponibles</span>

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.alumno.UserName, new { @class = "col-sm-2 control-label", @for = "Username" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    @Html.TextBoxFor(a => a.alumno.UserName, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.UserName).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.UserName)

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.alumno.Nombre, new { @class = "col-sm-2 control-label", @for = "Nombre" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                    @Html.TextBoxFor(a => a.alumno.Nombre, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.Nombre).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.alumno.Region, new { @class = "col-sm-2 control-label", @for = "Region" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                    @Html.TextBoxFor(a => a.alumno.Region, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.Region).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.Region)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.alumno.Programa, new { @class = "col-sm-2 control-label", @for = "Programa" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                    @Html.TextBoxFor(a => a.alumno.Programa, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.Programa).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.Programa)

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(a => a.alumno.Email, new { @class = "col-sm-2 control-label", @for = "Email" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    @Html.TextBoxFor(a => a.alumno.Email, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.Email).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.Email)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.tramite.Programa, new { @class = "col-sm-2 control-label", @for = "Programa" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                    @Html.TextBoxFor(a => a.tramite.Programa, new { @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.tramite.Programa).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.tramite.Programa)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.tramite.TramiteAlta.OfertaAlta.Nombre, new { @class = "col-sm-2 control-label", @for = "OfertaAltaNombre" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                    @Html.TextBoxFor(a => a.tramite.TramiteAlta.OfertaAlta.Nombre, new { Value = ("NRC (" + Html.DisplayFor(x => x.tramite.TramiteAlta.OfertaAlta.NRC) + ") " + HttpUtility.HtmlDecode( Html.DisplayFor(x => x.tramite.TramiteAlta.OfertaAlta.Nombre).ToHtmlString()))  ,  @readonly = "readonly", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.tramite.TramiteAlta.OfertaAlta.Nombre).ToHtmlString()),   @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.tramite.TramiteAlta.OfertaAlta.Nombre)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.NumeroInscripcion, new { @class = "col-sm-2 control-label", @for = "NumeroInscripcion" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                    @Html.DropDownListFor(x => x.NumeroInscripcion, EnumHelper.GetSelectList(typeof(EnumNumeroInscripcion)), "", new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.NumeroInscripcion)

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                @Html.ActionLink("Cancelar", "Index", "AlumnoTramiteAltas", null, new { @class = "btn btn-default" })
                <a id="Submit" class="btn btn-primary">Solicitar trámite</a>

            </div>
        </div>
    }



</div>
<div class="col-xs-6 col-md-4">

    <img src="~/Content/images/icon_tramitealta_v1.png" width="200" class="img-responsive center-block" alt="Alta de experiencia educativa">
    <h3>Reglas de Validación de alta de experiencia educativa</h3>
    <hr />

    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Nota
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Analiza bien tu solicitud, recuerda que solo tienes derecho a 5 altas y bajas durante toda tu trayectoria escolar
                </div>
            </div>
        </div>

    </div>


    <a href="~/Content/docs/EstatutoAlumnos2008.pdf" class="btn btn-default btn-block" target="_blank">
        Estatuto de alumnos 2008
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </a>
    <p>&nbsp;</p>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Trámites</h4>
            </div>
            <div class="modal-body">
                ¿La información a almacenar es correcta?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-danger">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#Submit').click(function () {

                if ($('form').valid()) {
                    $('#ModalConfirmation').modal('show');
                }

            });

           


            $('#btnContinueDelete').click(function () {
               $('form').submit();


              


            });
        });
    </script>

    }