﻿
@model VentanillaElectronica.Models.ModelViewVentanillaTramiteMovilidad 


@{
    Layout = "~/Views/Shared/_LayoutContentAdministrativos.cshtml";
}

   @using (Html.BeginForm("Edit", "AdministradoresTramiteMovilidad", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
   {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.Id)

        <div class="jumbotron">
            <h2>Trámite de movilidad estudiantil</h2>
            <h4>Edición del trámite</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_sintramites.png" class="img-responsive center-block" alt="Editando">
                </div>
                <div class="col-xs-12 col-md-9">
                    @Html.Partial("ViewDetails", Model)
                </div>
            </div>
            <hr />
            @Html.ActionLink("Cancelar", "Dashboard", "Administrativos", null, new { @class = "btn btn-default" })
            <a id="Submit" class="btn btn-primary">Actualizar</a>
        </div>
   }

<!-- Modal -->
<div class="modal fade" id="ModalConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar trámite de movilidad</h4>
            </div>
            <div class="modal-body">
                ¿La información a almacenar es correcta?<br /><br/>
                Si se cambia de un estado <span class="label label-danger">Denegado</span> a un estado <span class="label label-warning">Solicitado</span> la información de la persona que atendió el trámite se eleminará.
</div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-danger">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

  
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#Submit').click(function () {

                if ($('form').valid()) {
                    $('#ModalConfirmation').modal('show');
                }

            });


            $('#btnContinueDelete').click(function () {
                $('form').submit();

            });
        });
    </script>
}



