﻿@model VentanillaElectronica.Models.ModelViewServeTramitesMovilidad
@using VentanillaElectronica.Models;


@{
    Layout = "~/Views/Shared/_LayoutContentAdministrativos.cshtml";
}

@using (Html.BeginForm("Serve", "AdministrativosTramiteMovilidad", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.Id)

    if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado)
    {



            <h2>Trámite de movilidad estudiantil</h2>
            <h4>Solicitado, atendiendo trámite</h4>
            <hr />
            <div class="row">

                <div class="col-xs-12 col-md-6">


                    <div class="form-group">

                        @Html.LabelFor(a => a.Administrativo, new { @class = "col-sm-3 control-label", @for = "Atendido por" })
                        <div class="col-sm-9">

                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                @Html.TextArea("AtendidoPor", (HttpUtility.HtmlDecode(Html.DisplayFor(a => a.Administrativo.Nombre).ToHtmlString()) + Environment.NewLine + Html.DisplayFor(a => a.Administrativo.Email) + Environment.NewLine + Html.DisplayFor(a => a.Administrativo.Telefono)), 5, 120, new { @readonly = "readonly", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(a => a.EstatusServe, new { @class = "col-sm-3 control-label", @for = "Estatus" })
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-record"></span></span>
                                @Html.DropDownListFor(x => x.EstatusServe, EnumHelper.GetSelectList(typeof(EnumTramitesEstatusServe)), "",new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(a => a.EstatusServe)
                        </div>
                    </div>




                        <div class="form-group">

                            @Html.LabelFor(a => a.Observaciones, new { @class = "col-sm-3 control-label", @for = "Observaciones" })
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-bookmark"></span></span>
                                    @Html.TextArea("Observaciones", HttpUtility.HtmlDecode(Html.DisplayFor(a => a.Observaciones).ToHtmlString()), 5, 120, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(a => a.Observaciones)
                            </div>
                        </div>

                        <hr />

                        @Html.ActionLink("Cancelar", "Dashboard", "Administrativos", null, new { @class = "btn btn-default" })
                        <a id="Submit" class="btn btn-primary">Guardar</a>

                    </div>


                <div class="col-xs-12 col-md-6 jumbotron alert-warning">

                    <div class="form-group">

                        @Html.LabelFor(a => a.Estatus, new { @class = "col-sm-3 control-label", @for = "Estatus" })
                        <div class="col-sm-9">

                            @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado)
                            {
                                <span class="label label-warning">@Model.Estatus</span>
                            }
                            @if (@Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Aceptado)
                            {
                                <span class="label label-success">@Model.Estatus</span>

                            }@if (@Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Denegado)
                            {
                                <span class="label label-danger">@Model.Estatus</span>
                            }

                        </div>

                    </div>

                    <div class="form-group">

                        @Html.LabelFor(a => a.OfertaMovilidad.InscripcionMovilidad.Periodo, new { @class = "col-sm-3 control-label", @for = "Periodo" })
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                @Html.TextBoxFor(a => a.OfertaMovilidad.InscripcionMovilidad.Periodo.Nombre, new { disabled = "disabled", Value = Html.DisplayFor(a => a.OfertaMovilidad.InscripcionMovilidad.Periodo.Nombre), @class = "form-control" })
                            </div>
                        </div>

                    </div>

                    <div class="form-group">

                        @Html.LabelFor(a => a.OfertaMovilidad.Nombre, new { @class = "col-sm-3 control-label", @for = "Experiencia educativa" })
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                                @Html.TextBoxFor(a => a.OfertaMovilidad.Nombre, new { disabled = "disabled",  Value = ("NRC (" + Html.DisplayFor(a => a.OfertaMovilidad.NRC) + ") " + Html.DisplayFor(a => a.OfertaMovilidad.Nombre)), @class = "form-control" })
                            </div>
                        </div>

                    </div>

                    <div class="form-group">

                        @Html.LabelFor(a => a.FechaRegistro, new { @class = "col-sm-3 control-label", @for = "Fecha registro" })
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                @Html.TextBoxFor(a => a.FechaRegistro, new { disabled = "disabled",  Value = Html.DisplayFor(a => a.FechaRegistro), @class = "form-control" })
                            </div>
                        </div>

                    </div>

                    <div class="form-group">

                        @Html.LabelFor(a => a.Alumno, new { @class = "col-sm-3 control-label", @for = "Alumno" })
                        <div class="col-sm-9">

                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                @Html.TextArea("Alumno", (HttpUtility.HtmlDecode(Html.DisplayFor(a => a.Alumno.Nombre).ToHtmlString()) + Environment.NewLine + Html.DisplayFor(a => a.Alumno.Region) + Environment.NewLine + Html.DisplayFor(a => a.Alumno.Programa) + Environment.NewLine + "Email institucional: " + Model.Alumno.Email + Environment.NewLine + "Email alterno: " + Model.Alumno.EmailAlterno + Environment.NewLine + "Teléfono celular: +52 " + Html.DisplayFor(a => a.Alumno.Telefono)), 7, 120, new { disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(a => a.Url, new { @class = "col-sm-3 control-label", @for = "Documento comprobatorio" })
                        <div class="col-sm-9">


                            <a href="@Model.Url" target="_blank" title="Documento comprobatorio" class="btn btn-default">
                                <span class="glyphicon glyphicon-download"></span> Descargar documento comprobatorio
                            </a>
                        </div>

                    </div>

                </div>

            </div>
           
      

    }
}




<!-- Modal -->
<div class="modal fade" id="ModalConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Trámite de movilidad</h4>
            </div>
            <div class="modal-body">
                ¿La información a almacenar es correcta?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-danger">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#Submit').click(function () {

                if ($('form').valid()) {
                    $('#ModalConfirmation').modal('show');
                }

            });


            $('#btnContinueDelete').click(function () {
                $('form').submit();

            });
        });
    </script>
}





