﻿
@model VentanillaElectronica.Models.ModelViewVentanillaTramiteMovilidad

@using VentanillaElectronica.Models;


@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{

   

    <div class="form-group">

        @Html.LabelFor(a => a.Periodo, new { @class = "col-sm-2 control-label", @for = "Periodo" })
        <div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                @Html.TextBoxFor(a => a.Periodo.Nombre, new { @readonly = "readonly", Value = Html.DisplayFor(a => a.Periodo.Nombre), @class = "form-control" })
            </div>
        </div>

    </div>

    <div class="form-group">

        @Html.LabelFor(a => a.TramiteMovilidad.OfertaMovilidad.Nombre, new { @class = "col-sm-2 control-label", @for = "Experiencia educativa" })
        <div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                @Html.TextBoxFor(a => a.TramiteMovilidad.OfertaMovilidad.Nombre, new { @readonly = "readonly", Value = ("NRC (" + Html.DisplayFor(a => a.TramiteMovilidad.OfertaMovilidad.NRC) + ") " + Html.DisplayFor(a => a.TramiteMovilidad.OfertaMovilidad.Nombre)), @class = "form-control" })
            </div>
        </div>

    </div>

    <div class="form-group">

        @Html.LabelFor(a => a.FechaRegistro, new { @class = "col-sm-2 control-label", @for = "Fecha registro" })
        <div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                @Html.LabelFor(a => a.FechaRegistro, new { @readonly = "readonly", Value = Html.DisplayFor(a => a.FechaRegistro), @class = "form-control" })
            </div>
        </div>

    </div>
    
    <div class="form-group">

        @Html.LabelFor(a => a.Alumno, new { @class = "col-sm-2 control-label", @for = "Alumno" })
        <div class="col-sm-10">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                @Html.TextArea("Alumno", (HttpUtility.HtmlDecode(Html.DisplayFor(a => a.Alumno.Nombre).ToHtmlString()) + Environment.NewLine + Html.DisplayFor(a => a.Alumno.Region) + Environment.NewLine + Html.DisplayFor(a => a.Alumno.Programa) + Environment.NewLine + "Email institucional: " + Model.Alumno.Email + Environment.NewLine + "Email alterno: " + Model.Alumno.EmailAlterno + Environment.NewLine + "Teléfono celular: +52 " + Html.DisplayFor(a => a.Alumno.Telefono)), 7, 120, new { @readonly = "readonly", @class = "form-control" })
            </div>
        </div>
    </div>
   
  


    if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Aceptado || Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Denegado)
    {
        <hr />
        <div class="form-group">

            @Html.LabelFor(a => a.FechaAtencion, new { @class = "col-sm-2 control-label", @for = "Fecha de atención" })
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                    @Html.LabelFor(a => a.FechaAtencion, new { @readonly = "readonly", Value = Html.DisplayFor(a => a.FechaAtencion), @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(a => a.Administrativo, new { @class = "col-sm-2 control-label", @for = "Atendido por" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    @Html.TextArea("AtendidoPor", (HttpUtility.HtmlDecode(Html.DisplayFor(a => a.Administrativo.Nombre).ToHtmlString()) + Environment.NewLine + Html.DisplayFor(a => a.Administrativo.Email) + Environment.NewLine + Html.DisplayFor(a => a.Administrativo.Telefono)), 5, 120, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(a => a.Observaciones, new { @class = "col-sm-2 control-label", @for = "Observaciones" })
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-bookmark"></span></span>
                    @Html.TextArea("Observaciones", HttpUtility.HtmlDecode(Html.DisplayFor(a => a.Observaciones).ToHtmlString()), 5, 120, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
        </div>

    }

    <hr />
    <div class="form-group">

        @Html.LabelFor(a => a.TramiteMovilidad.Url, new { @class = "col-sm-2 control-label", @for = "Documento comprobatorio" })
        <div class="col-sm-10">


            <a href="@Model.TramiteMovilidad.Url" target="_blank" title="Documento comprobatorio" class="btn btn-default">
                <span class="glyphicon glyphicon-download"></span> Descargar documento comprobatorio
            </a>
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.File, new { @class = "col-sm-2 control-label", @for = "File" })
        <div class="col-sm-10">


            @Html.TextBoxFor(a => a.File, new { type = "file", maxFileSize = 100, language = "es", data_show_preview = "false", data_show_upload = "false", data_allowed_file_extensions = "[\"pdf\", \"docx\",\"jpg\",\"jpeg\",\"png\"]", data_show_caption = "true", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.File).ToHtmlString()), @class = "file" })
            <em><small>Sólo se admiten archivos en formato PDF, DOCX, JPG-JPEG, PNG.</small></em><br />
            @Html.ValidationMessageFor(a => a.File)

        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(x => x.Estatus, new { @class = "col-sm-2 control-label", @for = "Estatus" })
        <div class="col-sm-10">

            @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Solicitado)
            {
                <span class="label label-warning">@Model.Estatus</span>
            }
            @if (@Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Aceptado)
            {
                <span class="label label-success">@Model.Estatus</span>

            }@if (@Model.Estatus == VentanillaElectronica.Models.EnumTramitesEstatus.Denegado)
            {
                <span class="label label-danger">@Model.Estatus</span>
            }

        </div>

    </div>
    <div class="form-group">

        @Html.LabelFor(x => x.NewEstatus, new { @class = "col-sm-2 control-label", @for = "NewEstatus" })
        <div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-record"></span></span>
                @if (Model.Estatus == EnumTramitesEstatus.Solicitado)
                {
                    @Html.DropDownListFor(a => a.NewEstatus, EnumHelper.GetSelectList(typeof(EnumTramitesEditSolicitado)), new { @class = "form-control" })

                }
                else
                {
                    @Html.DropDownListFor(a => a.NewEstatus, EnumHelper.GetSelectList(typeof(EnumTramitesEdit)), new { @class = "form-control" })
                }
            </div>
        </div>
    </div>





}


