﻿@model VentanillaElectronica.Models.ModelViewTramitesEscenarios


@{
    Layout = "~/Views/Shared/_LayoutContentAlumnos.cshtml";
}


<div class="col-xs-12 col-md-8">
    <p>&nbsp;</p>




    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEscenarios.Error)
    {
        <div class="jumbotron alert-danger">
            <h2>Trámite de baja de experiencia educativa</h2>
            <h4>Error al intentar realizar la solicitud</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_error.png" class="img-responsive center-block" alt="Error">
                </div>
                <div class="col-xs-12 col-md-9">
                    <p>
                        @Html.Raw(HttpUtility.HtmlDecode(Model.mensaje))
                    </p>
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Dashboard", "Alumnos", null, new { @class = "btn btn-danger" })
            @Html.ActionLink("Realizar otro trámite de baja", "Register", "AlumnoTramiteBajas", null, new { @class = "btn btn-default" })


        </div>
    }


    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEscenarios.RegistroExitoso)
    {
        <div class="jumbotron alert-success">
            <h2>Trámite de baja de experiencia educativa</h2>
            <h4>Solicitud registrada con éxito</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_exito.png" class="img-responsive center-block" alt="Registro exitoso">
                </div>
                <div class="col-xs-12 col-md-9">
                    <p>
                        @Html.Raw(HttpUtility.HtmlDecode(Model.mensaje))
                    </p>
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Dashboard", "Alumnos", null, new { @class = "btn btn-success" })
            @Html.ActionLink("Realizar otro trámite de baja", "Register", "AlumnoTramiteBajas", null, new { @class = "btn btn-default" })


        </div>
    }

    @if (Model.Estatus == VentanillaElectronica.Models.EnumTramitesEscenarios.PeriodoNoDisponible)
    {
        <div class="jumbotron alert-danger">
            <h2>Trámite de baja de experiencia educativa</h2>
            <h4>Fechas de realización del trámite no disponible</h4>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <img src="~/Content/images/icon_time.png" class="img-responsive center-block" style="float:left; margin-right: 40px" alt="Fechas de trámite no disponibe">
                </div>
                <div class="col-xs-12 col-md-9">
                    <p>
                        @Html.Raw(HttpUtility.HtmlDecode(Model.mensaje))
                    </p>
                </div>
            </div>
            <hr />
            @Html.ActionLink("Aceptar", "Dashboard", "Alumnos", null, new { @class = "btn btn-danger" })
        </div>
    }


</div>
<div class="col-xs-6 col-md-4">

    <img src="~/Content/images/icon_tramitemovilidadestudiantil_v1.png" width="200" class="img-responsive center-block" alt="Movilidad Estudiantil">
    <h3>Reglas de Validación de Movilidad Estudiantil</h3>
    <hr />


    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Art. 36. Estatuto de alumnos 2008
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    La baja por experiencia educativa permite cancelar el registro académico de inscripción a la misma, y su autorización queda sujeta al número mínimo de créditos o de experiencias educativas requeridos por período escolar, establecido en cada plan de estudios.
                </div>
            </div>
        </div>
    </div>

    <hr />

    <a href="~/Content/docs/EstatutoAlumnos2008.pdf" class="btn btn-default btn-block" target="_blank">
        Estatuto de alumnos 2008
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </a>
    <p>&nbsp;</p>

</div>

