﻿
@model VentanillaElectronica.Models.ModelViewInscripcionBajas

@using VentanillaElectronica.Models;

@{
    Layout = "~/Views/Shared/_LayoutContentAlumnos.cshtml";
}


<div class="col-xs-12 col-md-8">
    <h2>Registro de trámite de baja de experiencia educativa</h2>
    <h4>Periodo @Html.DisplayFor(m => m.periodo.Nombre)</h4>
    <hr />

    @using (Html.BeginForm("Register", "AlumnoTramiteBajas", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        if (@ViewBag.Message != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @ViewBag.Message
            </div>
        }


        <div class="form-group">
            @Html.LabelFor(a => a.alumno.UserName, new { @class = "col-sm-2 control-label", @for = "Username" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    @Html.TextBoxFor(a => a.alumno.UserName, new { disabled = "disabled", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.UserName).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.UserName)

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.alumno.Nombre, new { @class = "col-sm-2 control-label", @for = "Nombre" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                    @Html.TextBoxFor(a => a.alumno.Nombre, new { disabled = "disabled", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.Nombre).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.Nombre)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.alumno.Email, new { @class = "col-sm-2 control-label", @for = "Email" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    @Html.TextBoxFor(a => a.alumno.Email, new { disabled = "disabled", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.Email).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.Email)

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.alumno.Region, new { @class = "col-sm-2 control-label", @for = "Region" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                    @Html.TextBoxFor(a => a.alumno.Region, new { disabled = "disabled", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.Region).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.Region)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.alumno.Programa, new { @class = "col-sm-2 control-label", @for = "Programa" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                    @Html.TextBoxFor(a => a.alumno.Programa, new { disabled = "disabled", @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.alumno.Programa).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.alumno.Programa)

            </div>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(a => a.tramiteBaja.NRC, new { @class = "col-sm-2 control-label", @for = "NRC" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                    @Html.TextBoxFor(a => a.tramiteBaja.NRC, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.tramiteBaja.NRC).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.tramiteBaja.NRC)

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.tramiteBaja.ExperienciaEducativa, new { @class = "col-sm-2 control-label", @for = "ExperienciaEducativa" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                    @Html.TextBoxFor(a => a.tramiteBaja.ExperienciaEducativa, new { @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(a => a.tramiteBaja.ExperienciaEducativa).ToHtmlString()), @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.tramiteBaja.ExperienciaEducativa)

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.tramiteBaja.BloqueTurno, new { @class = "col-sm-2 control-label", @for = "BloqueTurno" })
            <div class="col-sm-10">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                    @Html.DropDownListFor(x => x.tramiteBaja.BloqueTurno, EnumHelper.GetSelectList(typeof(EnumBloqueTurno)), "", new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(a => a.tramiteBaja.BloqueTurno)

            </div>
        </div>
       

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                @Html.ActionLink("Cancelar", "Dashboard", "Alumnos", null, new { @class = "btn btn-default" })

                <a id="Submit" class="btn btn-success">Solicitar trámite</a>

            </div>
        </div>
    }

</div>
<div class="col-xs-6 col-md-4">

    <img src="~/Content/images/icon_tramitemovilidadestudiantil_v1.png" width="200" class="img-responsive center-block" alt="Movilidad Estudiantil">
    <h3>Reglas de Validación de Movilidad Estudiantil</h3>
    <hr />

    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Art. 36. Estatuto de alumnos 2008
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    La baja por experiencia educativa permite cancelar el registro académico de inscripción a la misma, y su autorización queda sujeta al número mínimo de créditos o de experiencias educativas requeridos por período escolar, establecido en cada plan de estudios.
                </div>
            </div>
        </div>
    </div>
    <hr />

    <a href="~/Content/docs/EstatutoAlumnos2008.pdf" class="btn btn-default btn-block" target="_blank">
        Estatuto de alumnos 2008
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </a>
    <p>&nbsp;</p>

</div>






<!-- Modal -->
<div class="modal fade" id="ModalConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Trámite</h4>
            </div>
            <div class="modal-body">
                ¿La información a almacenar es correcta?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-danger">Cancel</button>
                <button id="btnContinueDelete" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {


            $('#Submit').click(function () {

                if ($('form').valid()) {
                    $('#ModalConfirmation').modal('show');
                }

            });


            $('#btnContinueDelete').click(function () {
                $('form').submit();
            });
        });
    </script>
}